[2016-09-17 16:05] moored opened #1 "Status not updating or incorrect in iOS Home app"
Opening and Closing the doors is working correctly however the status does not update consistently. If I force quit the app on one device and launch it again the status will update correctly on the others. I am not sure if this is an issue with the plugin, the homebridge server or iOS. The console output from the homebridge server is showing the correct status.

Posting here to see if others are e

[2016-09-19 16:47] caseywebdev commented on #1
You found this quick! I've made a bunch of improvements to the status updating in the last couple days, please try again with version `0.0.11`.

[2016-09-20 00:06] caseywebdev commented on #1
Got stuck on `Opening...` for me today in the Home app after opening and closing the door, but the logs read everything was working exactly as expected. At this point I'm inclined to believe this is an issue with Homebridge or the Home app. I'm going to dig into the Homebridge code and see if anything looks suspicious.

[2016-09-20 00:09] caseywebdev commented on #1
I think we can rule out Homebridge because if you ask Siri, she reports the correct state, which means Homebridge is correctly reporting the current state to HomeKit, the Home app is just not displaying it correctly.

[2016-09-20 13:12] daniel-ballance opened #2 "Block-scope declarations syntax error after install"
DISCLAIMER: Very new to Homebridge, etc. Unable to determine if there's an error in the code or in my installation.

I installed Homebrew for macOS, installed `homebridge-chamberlain` and configured the the `config.json` file per posted instructions. Upon running Homebridge, I received the following error:

[code]

`config.json` file contains:

[code]

Any help appreciated! Thanks!

[2016-09-20 15:19] caseywebdev commented on #2
Ah sorry I should have probably mentioned this in the README, but this plugin uses syntax only supported by node.js >= 6. If you're using Homebrew like you say, you should be able to run `brew update && brew upgrade node` and you'll be on the latest version of node (v6.6.0 at the time of writing).

[2016-09-20 15:40] daniel-ballance commented on #2
Thanks Casey. I'm sure this would have fixed the problem, but I believe Homebridge itself is behind the curve on node.js 6.6.0. Error below for reference; thanks for your help! Closing this issue.

[code]

[2016-09-20 15:40] #2 closed, assigned to nobody

[2016-09-20 15:41] caseywebdev commented on #2
You just have to run `npm rebuild` and `mdns` will work properly.

[2016-09-20 15:42] caseywebdev commented on #2
Nothing about the homebridge code doesn't work on newer node versions, I'm running `6.6.0` in my house right now.

[2016-09-21 17:03] caseywebdev commented on #1
In the homebridge slack channel:

[code]

With that knowledge, I was able to update the code to prevent the target state from getting left behind when the garage door is opened/closed via something other than HomeKit. This should no longer be an issue.

[2016-09-21 17:03] #1 closed, assigned to nobody

[2016-09-23 22:17] Wuozopo opened #3 "Craftsman Assurelink version?"
Hi Casey

I have a Craftsman Assurelink Connectivity Hub which works great from its iPhone App.
To all intents and purposes it is identical to the MyQ Internet Gateway device.
I even tried to register it through mychamberlain but it wouldn't let me.

Compare https://assurelink.craftsman.com/ to https://www.mychamberlain.com/ and https://www.myliftmaster.com/. All the iPhone apps look identical too

[2016-09-23 23:00] caseywebdev commented on #3
Haha wow those sites are identical! It does seem like they would probably operate similarly.

Do you happen to know what API the phone app hits? I used https://mitmproxy.org to sniff out the requests MyQ was sending (https://myqexternal.myqdevice.com) and that's why that is hardcoded in `api.js`. The best case is that Assurelink follows the same API and is just hosted at a different URL. We could

[2016-09-24 00:15] Wuozopo commented on #3
If I knew where to start with mitmproxy I'd probably do so. Unfortunately I'm a Windows user on the whole, my (real) Unix days were many years ago and as such I am only tinkering with the Pi based stuff.
I'm sure with some more detailed direction I could achieve something.

[2016-09-24 03:30] caseywebdev commented on #3
I work almost exclusively on *nix systems so I can't help you there. If you're able to find out the requests your phone is making to the assurelink API I bet it wouldn't be too hard to integrate it into the existing code. I'm sure someone has solved this problem for Windows before.

[2016-09-26 01:09] AppleTechy opened #4 "Why? Just use liftmaster plugin...."
Chamberlain and Liftmaster connect to the exact same MYQ servers....
It would be better to make a pull request of that plugin rather than creating an entire new plugin.. There have been I think 3 other plugins other than the Liftmaster Plugin, that have since been published that are less stable and it's confusing users on which one to download.

[2016-09-26 01:51] caseywebdev commented on #4
I had issues with the liftmaster plugin so I wrote this primarily for myself to address those issues while also learning the homebridge plugin interface. I think people should use whichever plugin works best for them.

[2016-09-26 01:51] #4 closed, assigned to nobody

[2016-09-26 04:17] Wuozopo commented on #3
I'm still looking into it. I might just get a MyQ gateway as they apparently work with Craftsman openers anyway. Lot of stuff on Smart Things forum about this.
I'll let you know if/when I find anything regarding the Craftsman API.

[2016-09-26 04:17] #3 closed, assigned to nobody

[2016-09-26 16:42] psmith3 opened #5 "Error loading Plugin"
Was wanting to try your plugin in Homebridge, but get the following error: Also, what is different between your plugin and the homebridge-liftmaster?

[code]

[2016-09-26 16:45] caseywebdev commented on #5
Check out #2 and #4

[2016-09-26 16:45] #5 closed, assigned to nobody

[2016-09-26 16:48] psmith3 commented on #5
Thanks

[2016-09-30 23:02] mykehsd opened #6 "Error: No controllable devices found"
I've successfully logged in and home bridge can't see my device.  Is there any other setup todo?

Error: No controllable devices found

[code]

[2016-09-30 23:21] FJRGuy opened #7 "No device found"
Noob here trying to make this HomeBridge thing work. Tried too much too fast and nothing worked. After uninstalling everything and starting from scratch, I have installed HomeBridge and the HomeBridge-Chamberlain plugin. HomeBridge now starts and loads config.json fine, but I get the following error repeatedly until I kill the process. My initial thought was I had my password incorrect, but went a

[2016-10-01 03:27] #6 closed, assigned to nobody

[2016-10-01 03:27] #7 closed, assigned to nobody

[2016-10-01 03:28] caseywebdev commented on #7
Try version `1.0.1` (just released) and let me know if that works.

[2016-10-01 03:28] caseywebdev commented on #6
Try version `1.0.1` (just released) and let me know if that works.

[2016-10-09 20:16] KradKrad opened #8 "Crash on Homebridge start"
#

ERROR LOADING PLUGIN homebridge-chamberlain:
SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417:10)
    at Module.load (module.js:344:32)
    at Function.Module._load (module.js:301:12)
    at Module.r

[2016-10-09 20:23] #8 closed, assigned to nobody

[2016-10-10 13:17] KradKrad opened #9 "Anyway to have another for node v4.2.6?"
I would like to use your homebridge plugin, but I heavily rely on the homebridge-wink plugin for a bulk of my devices.  I attempted to upgrade my nodejs and got everything to work but homebridge-wink because it can't work with node6.

Any chance you can make another branch for node v4.2.6?

much appreciated if you can.

[2016-10-11 13:31] caseywebdev commented on #9
What error does homebridge-wink fail with? The better long term solution is for them to get up to date with the latest node rather than downgrade other libs.

[2016-10-11 14:24] KradKrad commented on #9
agreed... but that plugin has to interface with hundreds of devices and supposedly has been in the works with a 6.6 node update.  It won't work with 5.x or 6.x.  I have tried mulitple times.  Is it hard to have a seperate package for your plugin? do you have to re-write it?

[2016-10-11 14:25] caseywebdev commented on #9
It would be a rewrite dropping all of the newer JS syntax. Feel free to fork it and change whatever you'd like, I'm not going to do that though.

[2016-10-11 14:25] #9 closed, assigned to nobody

[2016-10-11 14:27] caseywebdev commented on #9
Also check out https://github.com/nfarina/homebridge-liftmaster which might work for you.

[2016-10-11 21:59] KradKrad commented on #9
/usr/local/lib/node_modules/homebridge/node_modules/mdns/lib/dns_sd.js:35
throw ex;
^

Error: Module version mismatch. Expected 46, got 48.
at Error (native)
at Object.Module._extensions..node (module.js:434:18)
at Module.load (module.js:343:32)
at Function.Module._load (module.js:300:12)
at Module.require (module.js:353:17)
at require (internal/module.js:12:17)
at Object. (/usr/local/lib/node_mod

[2016-10-12 13:25] caseywebdev commented on #9
Try removing `homebridge` and reinstalling it.

[2016-10-17 18:34] HanSooloo commented on #2
For people who were running into similar problems, documented the process on how to make this work:
1. Install NodeJS 4.x
2. Follow `homebridge` and `homebridge-chamberlain` installation instructions all the way.
3. Update to NodeJS 6.x: http://thisdavej.com/upgrading-to-more-recent-versions-of-node-js-on-the-raspberry-pi/
   1. `curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -`
   2

[2016-10-20 00:30] Wuozopo commented on #3
I've replaced the Craftsman/Assurelink Gateway with the Chamberlain MyQ version. Removed configuration from the Assurelink account, then set it up using MyQ, no problems. There is more functionality in the MyQ iOS App for starters, including Touch ID.
I've updated your plugin to 1.0.1 and everything seems to be working great.
So it's not worth doing an Assurelink version in my view.

[2016-10-20 00:34] caseywebdev commented on #3
Glad to hear it's all working well for you!

[2016-10-20 18:05] vpatel74 opened #10 "getting strict error"
**\* WARNING **\* The program 'node' uses the Apple Bonjour compatibility layer of Avahi.
**\* WARNING **\* Please fix your application to use the native API of Avahi!
**\* WARNING **\* For more information see http://0pointer.de/avahi-compat?s=libdns_sd&e=node
**\* WARNING **\* The program 'node' called 'DNSServiceRegister()' which is not supported (or only supported partially) in the Apple Bonjo

[2016-10-20 18:08] caseywebdev commented on #10
See previous issues #2, #5, #8, #9

[2016-10-20 18:08] #10 closed, assigned to nobody

[2016-11-16 22:00] desertsilver opened #11 "Siri is reporting garage door is "closing" and "opening", instead of "closed" and "open""
I have this plugin installed successfully (thanks!!) and want to report a minor annoyance with the implementation.  I'm not sure if this is an item to be reported with this plugin, homebridge, or HomeKit in general but when I ask Siri if the garage door is open or closed, the response is that the the garage door is "closing" instead of "closed" and "opening" instead of "open".

For instance, if th

[2016-11-16 22:11] caseywebdev commented on #11
If I'm understanding you correctly you're saying the door never resolves to the "Open" or "Closed" state? Are there any errors in the homebridge log?

[2016-11-16 22:22] desertsilver commented on #11
Sorry for the confusion.  The actions are working properly.  So when I request to open/close the door, it actually happens.  This report is just for when I ask IF the door is currently open/closed.

[2016-11-16 22:37] caseywebdev commented on #11
Ahh gotcha. I just tested it and confirmed the same result for me. My Home app says "Closed" but Siri says "Closing". It's curious that they aren't reading the same value.

[2016-11-16 23:50] desertsilver commented on #11
Ok, at least it's not just me.  Well, if you happen to run across some configuration that might be able to "correct" this, it'd be nice but not a big deal.  Thanks for creating very useful plugin!

[2016-11-17 00:04] caseywebdev commented on #11
When the door is closed both the current state and target state are indeed closed, which is why it puzzles me that Siri would say Closing. I'll leave this issue open in case anyone has an idea.

[2016-12-10 18:46] grabidou opened #12 "Multiple Garage Doors to Open/Close"
I was finally able to get both garage doors opening and closing with the deviceId.  Is there any way to close/open them both at the same time?  It seems i have to do them both individually.  Maybe a new accessory in the config.json to include both deviceid's?  Has anyone done this?

[2016-12-11 15:15] caseywebdev commented on #12
Have you tried something like "Hey Siri open the garage doors"? It looks like the Home app won't let you group garage doors like it will with lights, which is kinda annoying. It seems like it would be possible to treat the two doors as one accessory and just make two API calls to the chamberlain servers for every action. There is the possibility that one call succeeds and the other fails though wh

[2016-12-12 15:39] grabidou commented on #12
Yah, Tried a couple of phrases with Siri, including "Siri, Close all garage doors", "Siri, Open all garage doors", "Siri, Open both garage doors", etc...  No luck.  The other thing i noticed, there has to be a pause before closing the second door (Even with the app).  Seems that chamberlain gets confused, or just doesn't know how to handle it.

[2016-12-12 17:00] caseywebdev commented on #12
You'd think given how common multiple doors are Chamberlain would have a way of linking 2 openers to each other. The pause may be some sort of rate limit with their API, probably intended to prevent accidental double clicks or something like that.

[2016-12-22 23:31] desertsilver commented on #11
As an update, looks like this may have been fixed with the recent ios update since Siri is responding with "Your garage door is **_closed_**" now.

[2016-12-22 23:34] caseywebdev commented on #11
I can confirm, I'm getting the correct verbal response now. Closing!

[2016-12-22 23:34] #11 closed, assigned to nobody

[2016-12-27 13:59] gonzal40 commented on #12
I have both of my Chamberlain hd950wf openers working with Siri. I use "Hey, Siri. Open / close the garage doors." Saying "open / close both garage doors" works as well. Both openers are defined as individual accessories in my config file. They both use the same Chamberlain account credentials to authenticate, but are differentiated by their device ID numbers.

[2017-01-11 19:52] Richard0415 opened #13 "Fetch Error"
Just installed this yesterday and it was/is working fine.  However, I just noticed this in my log file and I'm not sure what to think of it.  Note... same errors reoccurred 7 minutes after the first set (shown below).  Problem with their service perhaps?

Jan 11 06:56:45 raspberrypi homebridge[700]: [1/11/2017, 6:56:45 AM] [Garage Door] { FetchError: request to https://myqexternal.myqdevice.com/ap

[2017-01-12 16:13] caseywebdev commented on #13
I see this too. I just assume they don't have 0-downtime deploys or something similar and occasionally drop requests. We could make the error less noisy, but it's nice to have all of the information for debugging purposes.

[2017-01-12 17:33] Richard0415 commented on #13
I don't think it's worth the effort and risk of breaking something.  Perhaps it would be if it starts happening many times a day and really cluttering up the log.  For now... I personally don't see it as an issue.  Just wanted to pass it along.
BTW... great plugin!  Thanks for sharing your work.

[2017-01-12 17:35] caseywebdev commented on #13
Sounds good, going to close this for now.

[2017-01-12 17:35] #13 closed, assigned to nobody

[2017-01-14 10:44] olds442 opened #14 "Light Swithes and Plugs"
Any thoughts of adding support for Liftmaster/Chamberlain RF lights and plugs as wells as the Garage doors?

The tool "sees" my Chamberlain Remote light switch and discovers its Device Id but it does not work and homebridge just generates errors

[2017-01-14 15:05] caseywebdev commented on #14
Honestly I didn't even know that was a thing. I personally don't have plans on adding support as I run all of my plugs/switches through smartthings, but anyone is welcome to take a crack at it and open a PR.

[2017-01-24 05:09] Richard0415 opened #15 "Plugin fails to load"
I've had the plugin installed and working properly but due to an issue with my Raspberry Pi build, I had to blow it out and start over.  Now I can't get this to load to save my life...  I've tried with 3 fresh installs - all following the Wiki (for the RaspPi3) without exception.  Here are the error's found with the plugin installed but without a config.json entry (Homebridge fails to load with th

[2017-01-24 12:58] caseywebdev commented on #15
You'll need to upgrade to node >= 6 as the plugin uses syntax introduced in that version.

[2017-01-24 12:58] #15 closed, assigned to nobody

[2017-02-14 20:09] pponce opened #16 "Can't disable "allow notifications" for garage door accessory"
For some reason i can't turn off "allow notifications" in the apple home app for my garage door.
Other accessories i can turn on and off notifications just fine. This one seems to be the only one where i can't.
When i turn the notification off for the garage door it appears to work. Toggle moves to off position. I can go back to the details page to see if it is off and it remains off in the UI.
Ho

[2017-02-14 20:20] caseywebdev commented on #16
I'm not able to reproduce this issue. That said, AFAIK homebridge does not expose any options to plugins for configuring notifications at all. I believe that's all tucked away in HomeKit and based on the device type. If you can confirm this is something the plugin can/should be accounting for let me know.

[2017-02-14 20:20] #16 closed, assigned to nobody

[2017-02-14 20:23] pponce commented on #16
Will do. Thought it was strange but since it was the only accessory with the issue I though I'd ask.
I'll try to uninstall and re-install. See that fixes things.

[2017-02-15 00:40] pponce commented on #16
An old fashioned phone reboot solved my issue.
It's rare these days that I need to to that but in this case it worked.

[2017-02-17 16:00] jacobwtyler opened #17 "Requested Accessory Name Not Registered by any plugin?"
I'm getting this error everytime I try to load homebridge:

Feb 17 09:52:28 jacobwtyler homebridge[15428]: throw new Error("The requested accessory '" + name + "' was not registered by any plugin.");
Feb 17 09:52:28 jacobwtyler homebridge[15428]: ^
Feb 17 09:52:28 jacobwtyler homebridge[15428]: Error: The requested accessory 'Chamberlain' was not registered by any plugin.
Feb 17 09:52:28 jacobwtyl

[2017-02-17 18:58] scotteby commented on #12
I can confirm I have the same issue when trying to open or close both openers at the same time. I created a scene in the Home app that sets them both to open and it throws an error in the api when I test the scene.

 I suppose a timing issue on their server is possible, however I will say that I just switched from the homebridge-liftmaster plugin to this one and I didn't have this issue on the old

[2017-02-17 19:12] caseywebdev commented on #12
I only have one garage door so I'm afraid I won't be able to help debug this.

[2017-02-19 13:13] roncoejr commented on #17
I am getting the same thing.  Had been using the liftmaster2 plugin for many months, but rumor has it that Liftmaster has intentionally broken it.  Suggested resolution is to move to the Chamberlain plugin.

[2017-02-19 19:19] caseywebdev commented on #17
What does your config look like?

[2017-02-19 20:06] smallen13 opened #18 "Getting notified of open and close when I close"
When I open my door, it sends an "open" notification. Then when I close it, it sends an "open" notification followed by a "close" notification. Has anyone else had this issue?

[2017-02-19 20:32] roncoejr commented on #17
All good now, @caseywebdev .  I updated my version of node **(glad I did, everything seems to run better now)** and corrected a typo in the config (I was missing an **'s'** in the word password).

Thanks for the prompt reply.

[2017-02-19 21:06] caseywebdev commented on #17
Alright, I'm going to assume @jacobwtyler has a similar issue with their config. Closing for now.

[2017-02-19 21:06] #17 closed, assigned to nobody

[2017-02-22 14:44] jacobwtyler commented on #17
Actually config was fine. 0.4.1 fixed it for me.

[2017-02-22 14:45] jacobwtyler commented on #17
Oh I meant the new 0.4.1 of LiftMaster2 plugin.

[2017-02-23 17:32] ndobbs commented on #12
I just purchased 2x Chamberlain WD1000WF, I'm curious to see if I will run into this issue. I'll check it out once I get everything online and working and report back.

[2017-03-08 22:00] GaryREM commented on #14
The problem seems to be that it sees the light device and may not know what to do with it.

Right now I am getting an error "Error: Multiple controllable devices found:" and if I add the accessory and restart, I am still getting the message.

I see that 3 accessories are identified and loaded and they show up in the Home app, but the error still occurs.

[2017-04-08 22:32] triestelaporte opened #19 "Opening/Closing w/ Siri desyncs Homekit and Chamberlain MyQ App"
It has been working for a while.  This last week however whenever we open or close the garage door using Siri or Homekit app the chamberlain app doesn't show the update.  We then have to manually cycle the door a few times for chamberlain to get back in sync.

[2017-04-16 02:54] michaelagleason commented on #12
In the Home app, if you define a room as "garage" and then assign both garage doors to it, that should accomplish what you are looking for. I did that and was able to say "Open garage" or "Close garage" and both doors opened and closed.

[2017-04-18 14:01] grabidou commented on #12
I just tried the close or open Garage command. The result was only one opened, and one closed. If I said the command twice, it was smart enough to know which one was already open and open the other door. Same with closing. Still no joy on getting them both to close at the same time or with one command.

[2017-04-19 00:58] michaelagleason commented on #12
In the Home App on your iOS device, you have the ability to define “rooms” and assign devices to those rooms. I created a room called “Garage” and assigned my home bridge and both garage doors to it (see image linked below). When I say “Open Garage”, Siri responds by opening both at the same time. When I say “Close Garage”, Siri responds by closing both doors at the same time. Have you defined a r

[2017-04-21 21:34] grabidou commented on #12
Yes, I did create a room called "Garage"...  i've tried it a few times, and the doors open at random...

![img_4867](https://cloud.githubusercontent.com/assets/23324058/25296919/9242667a-26b8-11e7-85f8-2dcd1841330d.PNG)

[2017-04-21 21:40] GvnCampbell commented on #12
Give this a try. Try renaming the garage doors as a test. I named mine 'left Door' and 'right Door'. I then have them both in a garage room and command them by saying 'hey Siri open the left Door' or 'right door' or 'garage doors' and it works.

I remember reading an article that mentioned that naming things was important as Siri may react differently. Hopefully that works.

[2017-04-21 21:55] michaelagleason commented on #12
The command I use is Open “Garage”

[2017-04-23 22:33] triestelaporte commented on #19
Turns out my door sensor battery was bad.  Closing this!

[2017-04-23 22:33] #19 closed, assigned to nobody

[2017-05-09 01:13] chasebmcvicker commented on #12
I have one garage door, but when I tried to add it as an accessory, i got the error message saying "Multiple controllable devices found".  This was followed by 6 device ID's.  How do I tell which one is my door?

[2017-05-09 06:24] michaelagleason commented on #12
One is for the door, the other seems to be the light mechanism. I showed 2 IDs so just put in one at a time to figure it out.

[2017-06-26 06:24] shahavinas opened #20 "Error After installing chamberlain plugin and restarting homebridge"
I am trying to install homebridge-chamberlain plugin on my raspberry pi.

Installed chamberlain using
sudo npm install homebridge-chamberlain
on restarting homebridge, getting the below error.

[2017-6-26 06:21:13] No plugins found. See the README for information on installing plugins.
/opt/node/lib/node_modules/homebridge/lib/api.js:64
      throw new Error("The requested accessory '" + name + "'

[2017-06-26 18:42] shahavinas commented on #20
@caseywebdev
Can you please help.

[2017-06-27 04:56] #20 closed, assigned to nobody

[2017-07-02 20:08] mafyou425 opened #21 "Error: Multiple controllable devices found"
Hi guys, I'll be straight up here: I'm a first timer on Homebridge so forgive my ignorance and potentially stupid question. This seem different enough from the other issues that I thought it was necessary to open a new issue.

I've installed Homebridge and this homebridge-chamberlain plugin, but I keep hitting a wall with the blow error in macOS terminal:

    at getDeviceList.then.devices (/usr/l

[2017-07-03 03:15] caseywebdev commented on #21
Try just the first device, there is no MyQ light support right now

[code]

[2017-07-03 03:41] mafyou425 commented on #21
Thanks for getting back to me. I was reading in another thread that it might be recognizing the light as a controllable device so I played around with it: renamed each, swapped the names and IDs, tried just one, and then the other. No luck. Same error.

On Jul 2, 2017, at 8:15 PM, Casey Foster <notifications@github.com> wrote:

Try just the first device, there is no MyQ light support right now

"a

[2017-07-03 04:09] caseywebdev commented on #21
So I don't think this is actually a config issue. Can you confirm that the device running `homebridge` can actually resolve https://myqexternal.myqdevice.com/api/v4/UserDeviceDetails/Get?filterOn=true ? The error `getaddrinfo ENOTFOUND myqexternal.myqdevice.com` makes me think this is actually a network issue.

[2017-07-03 04:12] mafyou425 commented on #21
I get the following response. It seems to resolve but I might have the incorrect app ID. But, like I said, I’m totally new at this.

{"ReturnCode":"1001","ErrorMessage":"MyQ Application ID unrecognized. (1001)","CorrelationId":"6a6e35d9-98b8-471f-a75c-339f8d354e9c"}

On Jul 2, 2017, at 9:09 PM, Casey Foster <notifications@github.com> wrote:

So I don't think this is actually a config issue. Can yo

[2017-07-04 06:06] mafyou425 commented on #21
OK, I got it to work. I'm going to be completely honest, I'm not 100% sure how I fixed it, but the only recognizable change I did from what I pasted above is I removed the first accessory and changed the accessory "name" from "Garage Door" to "Controller". I'm leaning towards the name being the fix as a possible conflict with the HomeKit device name because this was the only thing I didn't try yes

[2017-07-04 06:06] #21 closed, assigned to nobody

[2017-08-03 16:09] imaredia opened #22 "error loading plugin.. on clean homebridge install"
I am getting this error,

`[8/3/2017, 11:01:30 AM] ====================
[8/3/2017, 11:01:30 AM] ERROR LOADING PLUGIN homebridge-chamberlain:
[8/3/2017, 11:01:30 AM] SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (mo

[2017-08-03 18:47] caseywebdev commented on #22
Duplicate of #2

[2017-08-03 18:47] #22 closed, assigned to nobody

[2017-08-05 18:57] gallen1119 opened #23 "New and not much experience"
I am new to trying to set up Homebridge, so I am sorry if this a totally stupid problem/question.  I am trying to control my garage doors using you homebridge-chamberlain plugin.

I was able to get Homebridge running without plugins and connect via HomeKit.

MacBook-Pro-8:~ gregoryallen$ homebridge
[8/5/2017, 12:36:06 PM] No plugins found. See the README for information on installing plugins.
[8/5

[2017-08-05 21:22] caseywebdev commented on #23
If you installed `homebridge` with `-g` (global), you'll need to do the same with any plugins. The global flag puts the npm package in the `/usr` directory. I believe what's happening now is you're running `homebridge` from the `/usr` context but you have the chamberlain plugin installed in your home directory, so it doesn't see it as installed.

[2017-08-05 22:27] gallen1119 commented on #23
That did it! I reinstalled with the `-g` argument and it works perfectly.

[2017-08-06 00:59] caseywebdev commented on #23
Great!

[2017-08-06 00:59] #23 closed, assigned to nobody

[2017-08-18 02:58] adammascherin opened #24 "Multiple controllable devices found error"
When I start up homebridge, I immediately get this error:

But I only have 1 garage door opener. How can I fix it?

[2017-08-18 13:54] caseywebdev commented on #24
The MyQ API seems to think you have 3 devices tied to your account. See the README about adding the deviceId field to your config and that should help you narrow down the correct id.

[2017-08-18 13:54] #24 closed, assigned to nobody

[2017-08-20 19:24] LazzR1 opened #25 "Works fine for a few hours, then 'Validate Failed'"
Noob here! I have just got this working, but after about an hour or two, it stops working and home bridge reporting the below error. If i restart homebridge, its fine again for a couple of hours. Any ideas?

Error
    at ClientRequest.<anonymous> (/usr/lib/node_modules/homebridge-chamberlain/node_modules/node-fetch/index.js:133:11)
    at emitOne (events.js:115:13)
    at ClientRequest.emit (event

[2017-08-21 11:17] caseywebdev commented on #25
This happens occasionally out of no where when (I assume) the MyQ people are making updates to their servers and they go offline temporarily. I've found that eventually it always starts working again without having to restart homebridge.

[2017-08-21 11:17] #25 closed, assigned to nobody

[2017-08-29 05:02] ParabolicDestination opened #26 "Unable to load homebridge using chamberlain plugin"
Error: The requested accessory 'Chamberlain' was not registered by any plugin.
    at API.accessory (/Users/username/.nvm/versions/node/v4.2.4/lib/node_modules/homebridge/lib/api.js:64:13)

Added to config.json as accessory under existing accessories.
Only fails with this plugin.
Attempted to install plugin and uninstall plugin to see if issue was related per normal guidelines of
npm install -g ho

[2017-10-27 21:03] jagpreetbatth commented on #1
how did you update the code?
Im using homebridge-chamberlain as an accesory  in config.json and still not able to get status from "Opening..." to actual "OPEN"???
Any ideas?

[2017-11-26 01:03] rephlex00 opened #27 "Homekit status stuck on opening"
When opening the garage door using the homekit app the door opens but the button is indefinitely in the opening state until homebridge is restarted.

[2017-11-26 03:23] GvnCampbell commented on #27
Same here... looks like something change recently that broke it.  The reporting of the door open status doesn't work.

[2017-12-02 20:31] brandonmartinez commented on #27
After updating to the latest version of homebridge, I noticed this same issue. I'm guessing there's an incompatibility with notifications/status?

[2017-12-04 17:29] brandonmartinez commented on #27
After some testing with the iOS App and hitting the MyQ API directly (using PostMan), I think the issue is in changes with the MyQ API, not with homebridge as I originally thought. More information can be found in the PR I just submitted: https://github.com/caseywebdev/homebridge-chamberlain/pull/29

I am running my forked branch locally on my RaspberryPi setup and it seems to be reporting as expe

[2017-12-04 17:31] caseywebdev commented on #27
I wonder why I'm not seeing these issues...could it be different API responses based on the door model?

[2017-12-04 18:34] brandonmartinez commented on #27
I suppose that's a possibility. Here is the result of me calling (some details obfuscated) `https://myqexternal.myqdevice.com/api/v4/UserDeviceDetails/Get?filterOn=true`:

https://gist.github.com/brandonmartinez/c6b10a1cb5dcc23bca9b2cbe1c655070

[2017-12-04 18:46] Antheleon commented on #27
Thanks brandon. Was having the same issues and your fork seems to have solved this issue for me

[2017-12-06 03:33] andrewfawcett commented on #14
Strange, I only have a Garage Door Opener but I see two devices as well. Is the remote light switch on the wall unit that also opens/ closes the garage door?

[2017-12-16 17:39] ghost commented on #27
Thanks, Brandon. Your fork fixed the issue for me as well.

[2018-01-12 14:29] brandonmartinez commented on #27
Anyone have issues pop back up again? I'm not able to use my fixes anymore. I do wonder if the API is changing because of Chamberlain introducing the new homekit-compatible door opener. I'll have to do some network sniffing to see if that can be captured.

[2018-01-12 15:22] Antheleon commented on #27
Yeah I think something happened today to me too. It didn’t give me any notifications when the door open/closed as usual. I’ll double check later tonight.

[2018-01-12 16:09] ghost commented on #27
I just ran a test on mine and the fix Brandon provided is still working properly. I don't use notifications so I can't verify that.

I used HomeKit to open and close the door. I did this remotely as I have an ATV 4K in the house. Verified door movement with an IP cam. Below is the log. Lots of redundant entries for a single open/close command!

[1/12/2018, 10:05:57 AM] [Garage Door Opener] desired

[2018-01-18 06:08] brandonmartinez commented on #27
Thanks for following up! It looks like my actual unit wasn't communicating with the MyQ APIs at all. A quick power cycle and everything is back to normal.

[2018-02-01 22:38] vpsails opened #30 "Compatibility Issue?"
I've been trying for a couple of days to get my rpi3 back up and running. I've installed node, homebridge, the homebridge plugin for homebridge-chamberlain along with the config.json file as outlined but I continue to run into the following error:

[2018-2-1 22:30:12] Loaded plugin: homebridge-chamberlain
[2018-2-1 22:30:12] Registering accessory 'homebridge-chamberlain.Chamberlain'
[2018-2-1 22:3

[2018-02-01 23:25] caseywebdev commented on #30
This looks like it could be an issue with your config file. If you share it (obviously hide any private info) we can probably figure it out.

[2018-02-02 06:52] vpsails commented on #30
Agreed... I'm a noob at this. Got it working last time through some great online instructions but this time through the old instructions on website were taken down and now I'm stuck. rpi3 memory card blew up and I'm without a clue.

 I'm pretty sure you're correct that the config file is incomplete and, quite honestly, there isn't a lot of good info out there as to how to do a complete homebridge

[2018-02-02 06:52] #30 closed, assigned to nobody

[2018-02-02 21:11] vpsails commented on #27
I just did a fresh install today and have the same problem where this IOS homekit app show opening until you restart the homebridge server. How would I get the latest fixes that others are mentioning here? Thanks!

[2018-02-02 21:25] vpsails commented on #30
I finally figured out what my problems with the config file were... Thanks!

[2018-02-04 03:44] tkundhi commented on #27
I have the same issue.
@brandonmartinez, I'm having difficulty installing your fork. Here is my command and the results. Any ideas?

$ sudo npm install -g https://github.com/brandonmartinez/homebridge-chamberlain.git

npm ERR! code 128
npm ERR! Command failed: /usr/bin/git clone -q https://github.com/brandonmartinez/homebridge-chamberlain.git /root/.npm/_cacache/tmp/git-clone-e42cc3fc
npm ERR! fat

[2018-03-02 15:03] jvmahon opened #31 "Feature Suggestion - For Your Consideration"
One feature I would love to have is the ability to set an automation so that my doors can automatically open / close when I drive up to the garage or leave. As I'm sure you know, HomeKit doesn't allow this for devices like Garage Door Openers as you need to confirm their operation.

I think this could be achieved, however, by implementing the Garage Door Opener as a "Switch" HAP service with an On

[2018-03-02 20:31] caseywebdev commented on #31
You have more faith in the location technology than I do 😉 but it's definitely a cool idea. I, too, have run into the annoying fact that you can't even lock/close, let alone unlock/open "security" devices like locks or doors.

Yup this would certainly bypass the "security" device restriction. I think you're on the right track. You can probably get away with just changing [this section](https://git

[2018-03-12 16:45] zebzbranek commented on #31
I would like to control my Chamberlain/Liftmaster gate with homekit. I have the MyQ Bridge and have my two garage doors and switches that are all homekit active. In talking to Chamberlain tech support, I am uncertain their gate will ever be homekit compatible. With the Raspberry Pi, I have successfully connect my Nest, Wemo and Eco Plug. What can I do? I would like to say "open gate," or "close ga

[2018-03-16 16:08] ldhall1856 opened #32 "Chamberlain MyQ and Craftsman"
Hi,

I have a craftsman WIFI garage door I was wondering since chamberland and craftsman are owned by the same company and use the same style IOS app could i get it working on a craftsman garage door.

I'm very new to this so please forgive my ignorants.

[2018-03-20 12:26] LaChrome opened #33 "One garage door, but plugin detects 2 device IDs and throws error"
I only have one garage door, but this plugin detects two device Ids. Throws an error on startup with the default config:

[Garage Door] Error: Multiple controllable devices found: 4355369, 4355368
    at getDeviceList.then.devices (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:78:13)
    at process._tickCallback (internal/process/next_tick.js:103:7)

Within the online Chamberlain a

[2018-03-20 14:43] caseywebdev commented on #33
You can just remove the device ID that's not in use from your config. That error is thrown when more than one device that's not the gateway itself is returned from the API. Since the API is undocumented, I can't really tell you what the other device ID is for, so just use trial and error to get the garage door opener ID and only use that one.

[2018-03-20 14:43] #33 closed, assigned to nobody

[2018-03-22 23:29] Magiccowinuse opened #34 "Report/response delay"
Is there a line I can change to lengthen the delay of Siri's report back when closing the garage door? Siri seems to report too quickly, giving a confused reply by Siri stating the door is _still_ opening/closing. When, if the report just came 2 seconds later on each attempt, she would report a successful operation.

[2018-04-06 21:01] csprocket777 commented on #27
FYI, I just installed your fork today @brandonmartinez and it solved this issue for me. Thank you!

[2018-06-04 12:37] josepm13 commented on #27
@brandonmartinez very new here.  Just got myq working last night with homebridge using the chamberlain plug-in and having the issue described here.  Do i simply run npm install -g https://github.com/brandonmartinez/homebridge-chamberlain.git or do I need to remove the chamberlain plugin first?
Thanks.

[2018-06-05 02:23] menmi03 opened #35 "doest work for me anymore"
This was working for a long time, then recently (within the last week) I get this, repeatedly, over and over....

[2018-6-3 23:48:12] [House Side Garage Door] Error: Error processing request (217)
at fetch.then.then.data (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:26:29)
at <anonymous>
at process._tickCallback (internal/process/next_tick.js:118:7)

Thanks if anyone can look into

[2018-06-05 02:28] shahavinas commented on #35
I too am facing the same issue. Not sure how to fix it.

[2018-06-05 13:49] caseywebdev commented on #35
[code]

I get these two errors sporadically (I assume because they're rolling their API servers) but it always settles back down.

[2018-07-04 08:19] prutsky opened #36 "Will this work with the "MyQ Smart Home Starter Kit (830REV)"?"
I installed this plugin but in my "Home" app on my iPhone I see the Garagedoor (+ icon), but it also says "updating" below it. (or in Dutch: "Bijwerken...").
So I'm unable to control the door via the Home app, nor Siri.
What is wrong?

[2018-07-21 04:47] heypoojman commented on #27
I a new to Homebridge and I am having the same problem that is described above.  I am getting the following error when I install Brandon's forked version:
pi@raspberrypi:~ $ sudo npm install -g https://github.com/brandonmartinez/homebridge-chamberlain.git
npm ERR! code 128
npm ERR! Command failed: /usr/bin/git submodule update -q --init --recursive
npm ERR! fatal: Could not change back to '/root/.

[2018-08-03 21:38] rotefuesse commented on #27
Hello,
me too. being very new and experienced to Raspberry Pi and programming,
I successfully did set up my homebridge and the chamberlain garage door opener plugin.
Having the same issue that the status remains in "opening" until I close the garage door again....
Trying to apply the fix (fork) from above led to the same error messages as above.

What is (can be) the cause of the "permission denie

[2018-08-09 07:21] qthuan commented on #27
update the permission:
sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}

hope it can help

[2018-08-11 20:57] heypoojman commented on #27
Thanks Brandon.  Everything works now.

Instead of using the command above.  I just logged in as root and ran  npm install -g https://github.com/brandonmartinez/homebridge-chamberlain.git

[2018-08-31 03:16] jocamero commented on #27
Got it working thanks to @brandonmartinez and his update!  Here are the details for others that have some issues:

`sudo apt-get install git` (I didn't have git installed on Raspbian Lite; this installed it)
`sudo npm install -g brandonmartinez/homebridge-chamberlain` (this installs Brandon's fork)

`systemctl restart homebridge` (restarts homebridge if you're using systemctl to auto start)

`npm

[2018-09-04 01:18] Finch106 commented on #27
Looks like homebridge-chamberlain was updated and works now, thanks again @brandonmartinez for fixing it until the update.

[2018-09-20 10:54] sohnkarlsruhe opened #37 "Invalid Json"
i get this error with the standard configuration like

`{
  "accessory": "Chamberlain",
  "name": "Garage Door",
  "username": "your mychamberlain.com email",
  "password": "your mychamberlain.com password"
}`

`[9/20/2018, 12:51:38 PM] [Garagentor hinten] { FetchError: invalid json response body at https://myqexternal.myqdevice.com/api/v4/User/Validate reason: Unexpected token < in JSON at positi

[2018-09-20 17:24] caseywebdev commented on #37
This is the MyQ API returning invalid JSON (probably HTML) and not related to your config JSON. Are you getting this intermittently or all the time? I see this message often, I believe the MyQ API is not the most reliable service but it's unavoidable.

[2018-09-20 21:10] sohnkarlsruhe commented on #37
I get it Evers 5 seconds. The Garage door is offline in the Home App. With the myq app it works fine

[2018-09-24 05:58] sohnkarlsruhe commented on #37
Now it works.. i do nothing

[2018-09-24 05:58] #37 closed, assigned to nobody

[2018-09-25 20:55] mercurylines commented on #26
I am getting the same error. were you able to find a resolution? Thanks.

[2018-09-25 22:25] ParabolicDestination commented on #26
Yes I ended up using the Liftmaster 2 plugin instead which actually works better. It pulls the available devices from the chamberlain app so the names are automatic etc. direct from the app.

[2018-09-25 23:35] mercurylines commented on #26
Doing this seemingly got me further along in the process, but ultimately still fails. Getting the same error as described here:
https://github.com/luisiam/homebridge-liftmaster2/issues/18

Weird stuff..

From: ParabolicDestination <notifications@github.com<mailto:notifications@github.com>>
Reply-To: caseywebdev/homebridge-chamberlain <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tu

[2018-09-26 14:08] ParabolicDestination commented on #26
Did you remove the Chamberlain plugin and line items from the json file? Also, if you check the version of Brew along with node you may need to update versions. I noticed I was out of date in that regard. I believe from the top of my head "npm -g latest” will upgrade on a mac.
Also, this error message if exact is definitely an outdated node version. The latest is 6.4.1

[2018-09-26 15:11] mercurylines commented on #26
I removed the chamberlain plugin and line items from config.json. Is that the json file you were referring to?

I will check the node version. Not sure what you meant by Brew- i’ve got this running on a Pi at the moment.

Thanks!

Jonathan Moore

Partner, Trifecta

149 Jefferson Street, Lexington KY 40508

[Signature Image]<http://trifectaky.com#>

T: 859.303.4663<tel:859.303.4663>

F: 859.305.167

[2018-10-02 01:22] jvward opened #38 "Getting the following error, but everyting appears to be working"
Everytime I open or close my garage door I get the following error:

 Error: Error processing request (217)
    at fetch.then.then.data (/usr/lib/node_modules/homebridge-chamberlain/src/api.js:26:29)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:189:7)

Everything appears to be working ok, I just keep seeing this in homebridge.  I was wondering if anyone had seen t

[2018-10-03 14:15] mattwillems-lr commented on #35
I get Error processing request (217) every 10 seconds no matter what. It shows up once as homebridge starts up and never stops. Chamberlain device is not detected.

`[2018-10-3 08:12:41] [Garage Door] Error: Error processing request (217)
    at fetch.then.then.data (/usr/lib/node_modules/homebridge-chamberlain/src/api.js:26:29)
    at <anonymous>
    at process._tickCallback (internal/process/nex

[2018-10-08 14:22] ghost commented on #38
Seeing the same thing. Also wondering if there's a fix.

[2018-10-08 15:29] caseywebdev commented on #38
Requests to the MyQ API regularly fail and there's not much we can do about that. I think suppressing this error would be worse.

[2018-10-09 16:32] twentyNoise opened #40 "'Closed' Notifications Not Always Received"
Hi,

About 60% of the time the plugin works great. The other 40% I have noticed that I will get a "Garage Door Opened" notification, but I won't receive a "Garage Door Closed" notification. Then, upon opening the Home App on my phone I immediately receive a "Garage Door Closed" notification. This immediate notification could come hours later - when I haven't opened the Home app for a while. I noti

[2018-10-12 07:56] setheryb commented on #38
I get this error, but nothing works.

[2018-10-16 20:29] SmallwoodDR82 commented on #38
what's the reason for the failure? server issues on Chamberlain side? Is the API requesting too often?

[2018-10-20 17:44] johnsills1 opened #41 "Not Responding"
I recently upgraded to Node.js 8 and now the homebridge-chamberlain doesn't work anymore. My device is not responding. It was working when I had Node.js v4 installed by itself, once I upgraded, it stopped. Is this not compatible with node.js 6 or 8?

[2018-10-25 14:46] bartenderck opened #42 "Queries to myqexternal.myqdevice.com"
Is there any way to change the query interval time to myqexternal.myqdevice.com?  Mine currently seems to check the status every 10 seconds.

[2018-10-25 15:49] caseywebdev commented on #42
It's hardcoded [here](https://github.com/caseywebdev/homebridge-chamberlain/blob/41fc2fb20357bcc977445efab81a22b9a828cc41/src/chamberlain-accessory.js#L6) (in milliseconds). When the door is opening/closing the poll interval is 2 seconds. MyQ doesn't have a push API that I know of and this is the same interval they use on their own web app, so I don't want to exceed that.

[2018-10-25 16:06] bartenderck commented on #42
Thanks for the quick response.  Is this something I can manually edit or would the entire package need to be compiled?

-Craig

[2018-10-25 16:11] caseywebdev commented on #42
You can manually edit the `homebridge-chamberlain/src/chamberlain-accessory.js` file saved in your `node_modules` folder (location depends on how you installed) and restart homebridge. I wouldn't recommend lowering this value though. If they see you're hitting the API too frequently they could decide to block your IP 🤷‍♂️

[2018-10-25 16:11] #42 closed, assigned to nobody

[2018-10-25 16:16] bartenderck commented on #42
Thanks!  I actually want to increase the time so it queries less often.

-Craig

[2018-11-02 19:46] bogdanbun commented on #14
I believe the other device is the light switch. Would be great to add this one as another accessory/switch.

[2018-11-12 21:44] usmcguy opened #43 "Unauthorized (216)"
Performed an update to the latest package. No longer able to use. Error in log:

`[Garage Door] Error: Unauthorized (216)
    at fetch.then.then.data (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:26:29)
    at process._tickCallback (internal/process/next_tick.js:68:7)`

I completely reset homebridge, deleted accessories and persist folders, re-added to homekit. However, 216 error

[2018-12-04 22:18] tiramipseudonym opened #44 "No Response/Error 217"
Installed homebridge on Raspberry Pi Zero and successfully running Nest and Arlo devices. Can’t quite seem to get garage door working. Works fine in MyQ app. Garage door shows up in Home app but always with No Response status, and when I watch homebridge in terminal I’m getting error 217 over and over again. I already tried updating the api.js to a newer version number on line 17 ( believe) per th

[2018-12-15 04:22] tiramipseudonym commented on #44
Issue solved!

In doing some more reading online and scouring the logs, I noticed that even though I only have one garage door, there was an error stating that I had multiple devices and it listed four distinct device IDs. I added the "deviceId" tag to the config.json file and started sequentially going through those ID numbers found in the log and sure enough, one of them worked. I'm in business.

[2018-12-15 04:22] #44 closed, assigned to nobody

[2018-12-16 00:32] johnsills1 commented on #27
I’m still having problems, I cannot get the homekit to stop showing opening for the garage door. I am running the updated version of Homebridge-Chamberlain.  The weird thing is that I’ve had it working a couple of months ago and had to delete it during some troubleshooting and now I can’t get it to work right again.

[2019-01-13 02:02] michaelwhill opened #45 "ECONNRESET"
I am able to control two garage doors with no issues. On occasion after the doorstate has changed from closing to closed I receive a FetchError ECONNRESET message for both doors.  Running Node v10.15.0 and Npm 6.5.0 on a RaspberryPI Raspbian 9.6 (stretch).

[1/12/2019, 2:46:36 PM] [Single Car Garage] doorstate changed from opening to open
[1/12/2019, 3:39:00 PM] [Two Car Garage] desireddoorstate c

[2019-01-18 19:44] lankox commented on #27
I also started having problems with status of "opening" after this has worked perfectly for months.  The fork is no longer working for me.

[2019-02-12 00:05] janthony6 commented on #45
update your api.js line to:

'User-Agent': 'Chamberlain/3.120 (iPhone; iOS 12.2.0; Scale/2.00)',

current version is using ios 10.0.1 which is outdated so it will throw an error.

[2019-03-09 23:21] stackunderflow commented on #45
My logs are full of:
FetchError: request to https://myqexternal.myqdevice.com/api/v4/User/Validate failed, reason: read ECONNRESET
    at ClientRequest.<anonymous> (/homebridge/node_modules/node-fetch/index.js:133:11)

I know Chamberlain did some maintenance, and it looks to me like they're now using some microsoft cloud services.  Some URLs have changed and possibly more.

Homebridge isn't workin

[2019-03-19 14:07] ayd10 commented on #33
I'm also getting an error saying multiple controller devices found, but only have one garage door added in the config file without a "deviceID" tag. Any idea how I fix this? I

[2019-04-09 18:53] t0lbert64 opened #46 "id"
how do we find the device id for each garage door?

[2019-04-14 08:45] iGino commented on #45
Any updates on this? I have the same error constantly appearing in my logs (see below), however, updating the User-Agent in api.js did not resolve the issue.

[code]

[2019-04-14 10:46] iGino commented on #45
This might be unrelated, but I'm seeing two new errors: ETIMEDOUT & ENETUNREACH

[code]

[2019-05-10 14:40] gittalicious opened #47 "Can this be used without internet connection?"
I have this set up and working, but I would love to be able to use the myQ openers without having every command go through Chamberlain's internet servers. Is this possible? I have tried blocking internet access for the MyQ hub on my router, but then the accessory becomes unresponsive. Is there a way to get this working without involving the internet servers?

[2019-05-10 16:28] caseywebdev commented on #47
Nope, not possible with the MyQ setup. I’ve actually stopped using MyQ for this reason and wired up a raspberry pi to my spare clicker to open/close the door without internet.

[2019-05-10 19:45] gittalicious commented on #47
Can you point me to any tutorials that would explain how to do that?

[2019-05-11 00:39] caseywebdev commented on #47
Something like https://coderwall.com/p/jsd5mw/raspberry-pi-garage-door-opener-with-garagepi is pretty much what I ended up doing. Good luck 👍🏻

[2019-05-11 00:39] #47 closed, assigned to nobody

[2019-05-30 02:02] ghost commented on #45
This worked perfectly.

[2019-06-02 16:40] ryandmiller41 commented on #26
I think the solution to this is to use this code to install:

`sudo npm install -g homebridge-chamberlain`

[2019-06-08 06:50] schwie commented on #45
I updated mine to:

      'User-Agent': 'Chamberlain/3.120 (iPhone; iOS 12.3.1; Scale/2.00)',

and now its working wonderfully.

For folks trying this on macOS, open Terminal and enter the following command, changing [username] to the name of your user folder without the brackets:

pico /Users/[username]/.npm-packages/lib/node_modules/homebridge-chamberlain/src/api.js

In pico (the text editor), c

[2019-06-15 15:22] shawnstrickland commented on #33
If you get an error about multiple devices but only have one, you'll have to see which one "works" as far as setting it up and testing it out, and then only keeping that deviceId for one garage door accessory. I can confirm this works as my account is replying with 4 devices but I only have two doors. Putting one deviceId (the right one, another is a byproduct of an unauthorized API) in the access

[2019-08-06 14:37] mckinleytabor opened #49 "Looks like they are messing with the protocol again"
This morning I'm getting an error:

'invalid json response body at https://myqexternal.myqdevice.com/api/v4/User/Validate reason: Unexpected token < in JSON at position 0'

I'm investigating, but I wanted to leave this here to let people know... it's not just you.. :p

[2019-08-06 15:07] mckinleytabor commented on #49
...and here's the fix, it looks like they (chamberlain, myq, liftmaster, whoever) has deprecated the Application ID being used in this project.

in the ./src/api.js file, line 6, you'll find a string:
NWknvuBd7LoFHfXmKNMBcgajXtZEgKUh4V7WNzMidrpUUluDpVYVZx+xT4PCM5Kx

This is the old deprecated Application ID for "chamberlain", thankfully, it looks like the programmers for that company are lazy and

[2019-08-06 16:13] romkey commented on #49
Thank you! Worked great, you just saved me a lot of grief :)

[2019-08-06 16:46] #35 closed, assigned to nobody

[2019-08-06 16:50] caseywebdev commented on #49
Released in `1.0.4`

[2019-08-06 16:50] #49 closed, assigned to nobody

[2019-08-06 16:50] caseywebdev commented on #45
Fixed in `1.0.4`

[2019-08-06 16:50] #45 closed, assigned to nobody

[2019-08-07 04:05] iRayanKhan commented on #46
When you run the plugin it will show in the startup for each Garage.

[2019-08-07 04:06] iRayanKhan commented on #43
@usmcguy Try the latest version that was published earlier today, it fixed an API change. In the future past your config.json file just incase.

[2019-08-07 20:56] mokrol opened #51 "ECONNRESET Error"
I've been using this plugin for a few weeks now and had this issue pop up in the last few days:

[code]

I updated the plugin yesterday (8/7) hoping that this would fix the issue but no luck. Any help would be greatly appreciated on this.

[2019-08-10 04:53] iRayanKhan commented on #51
Try to uninstall and reinstall again, the PR I submitted got merged with the new API so it should work.

[2019-08-30 00:27] mokrol commented on #51
Thanks - That fixed it.

[2019-08-30 15:28] #51 closed, assigned to nobody

[2019-10-18 20:16] brandoniske opened #53 "status and state change requests not processing"
My opener's status and state change requests are not processing as of this afternoon, but had been working previously with no changes made.

Not seeing any errors in homebridge status/log. Maybe API changes again?

[2019-10-18 21:36] srector13 opened #54 "Error: No controllable devices found at getDeviceList.then.devices (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:71:31)"
This is the error I am getting:

[10/18/2019, 4:33:55 PM] [Garage Door] Error: No controllable devices found
    at getDeviceList.then.devices (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:71:31)
    at process._tickCallback (internal/process/next_tick.js:68:7)
   hoobs : TTY=pts/0 ; PWD=/var/lib/homebridge ; USER=root ; COMMAND=/bin/journalctl -o cat -n 500 -f -u homebridge -u ho

[2019-10-18 22:16] mhfen commented on #54
I am also experiencing this issue. It was also working fine earlier today. The first time I noticed it not working was about 12 pm MDT.

Could be an API change on the Chamberlain side of things?

[2019-10-18 22:22] ycao56 commented on #54
I am running into same issue

[2019-10-18 23:40] ironScripter commented on #54
Having the same issue as you guys.

[2019-10-18 23:43] brandoniske commented on #54
Related to issue [https://github.com/caseywebdev/homebridge-chamberlain/issues/53](url) when I removed the "deviceId" config parameter. When I specify deviceId, I don't get an error, but no functionality.

[2019-10-19 00:18] smallen13 commented on #54
I just had this problem today, as well. Chamberlain app still works.

[2019-10-19 01:34] mokrol commented on #54
Same here.

[2019-10-19 02:05] jocamero commented on #54
Same issue.

[2019-10-19 06:13] codea83 commented on #54
I'm running into this issue too. Worked fine before today.

[2019-10-19 14:27] Barrow-Smith commented on #54
Same issue here. Just started out of nowhere last night.

[2019-10-19 15:44] smallen13 commented on #54
There are a few comments here [https://github.com/luisiam/homebridge-liftmaster2/issues/63] that  are suggesting a V4 API was disabled and apps need to use V5. I presume that is the same problem here.

[2019-10-19 16:09] graanco commented on #54
shame is any one working. on a fix?

[2019-10-19 17:54] deanliou commented on #54
I came here like everyone else. At first I thought I was having wifi or homebridge problems. MyQ app still works, but this homebridge plugin doesn't anymore. I get this error:

`[10/19/2019, 10:50:23 AM] [Garage Door] Error: No controllable devices found at getDeviceList.then.devices (/usr/lib/node_modules/homebridge-chamberlain/src/api.js:71:31) at process._tickCallback (internal/process/next_tic

[2019-10-19 19:41] pb4ugoout commented on #53
I’m having the same problem. I may have to try a different plugin to see if I can regain access through homebridge

[2019-10-19 19:44] tteuer commented on #53
Same issue. Started happened yesterday afternoon. No errors either but state change does not process.

[2019-10-20 03:55] ThomasTChan commented on #54
Started receiving this error myself.  Found the issue to be the User-Agent field in the header.  If User-Agent is left as previous value, it does not return a SecurityToken.  Instead it returns:

{
    "SecurityToken": "",
    "ReturnCode": "0",
    "ErrorMessage": "please contact customer care, supportID: 16366184268230220087",
    "CorrelationId": ""
}

resulting in no SecurityToken and unauthor

[2019-10-20 04:36] Barrow-Smith commented on #54
@ThomasTChan thanks for the fix. I made the change in my src/api.js and that solved it.  Garage door working via homekit again.

[2019-10-20 04:45] ThomasTChan commented on #54
@Barrow-Smith glad it helped.

Seems Chamberlain is making changes to their API again, which by the way is a bit awkwardly designed and not RESTful.

[2019-10-20 04:53] deanliou commented on #54
@ThomasTChan - Thanks! Made the change manually with nano in my local src/api.js and it's working for me again. Makes me wonder if they might shut down "N/A" eventually since they're inspecting user agents like that. In the meantime, I'll take what I can get! Thanks again.

[2019-10-20 05:53] ldhall1856 commented on #54
Hi,

I'm having the same issue.

I hate being ignorant about this stuff,  i just don't have time learn as much about programming as i would like.

Will this be fixed by a update soon or can someone explain in layman terms how to fix it?

Thanks in advance.

[2019-10-20 06:21] deanliou commented on #54
Hi @ldhall1856 - I understand. When I first set up my homebridge setup, I worried that I wouldn't be able to "maintain" the system. I still feel that way. Maybe this will help get you back up and running again, thanks to Thomas' hint: Can you get to a command prompt on your homebridge host? If so, then you only need to do the following:

1. at your command prompt, run `nano /usr/lib/node_modules/h

[2019-10-20 06:55] mokrol commented on #54
If for some reason it is not in that path (like it was for me) try searching for it with `sudo find / -name api.js` find the correct path and use the instructions from above.

@deanliou - Thank you. That fixed it for me. Appreciate you posting this.

[2019-10-20 15:19] graanco commented on #54
Thanks that fixed mine too...

[2019-10-20 15:20] ldhall1856 commented on #54
I can't find the folder.  I'm running homebridge in docker and can't seem to get to that file

[2019-10-20 16:25] ldhall1856 commented on #54
I was able to make the change and it still doesn't work for me.

[2019-10-20 16:28] jpetticrew commented on #53
+1 for same issue. Seems like a change was made with the API.

[2019-10-20 16:40] ldhall1856 commented on #54
Just got it!

Thank you!

[2019-10-20 17:05] smallen13 commented on #54
The N/A trick worked for me. Moving to the v5 api is clearly the right answer long(er)-term.

I'm guessing it solves issue #53 as well.

[2019-10-20 19:40] dswee999 commented on #54
@ldhall1856 what did you do to get it to work on Docker. I’m not having any luck. Thanks!!

[2019-10-20 21:02] iRayanKhan commented on #54
If anyone hasn't attempted anything, and would like to try my V4 Api fix, try #57 and let me know if it works for y'all. If not please attach logs so I can try to fix it, before upgrading to the V5 api.

[2019-10-21 00:47] pb4ugoout commented on #54
The docker container doesn't include nano. You could install it but vi is already installed. Navigate to the aforementioned folder. Then use vi api.src to open the file in vi. Press i to edit. Use the arrow keys to get to the line you want to change and change it. Then press ESC to enter back into command mode. Then press shift zz to save and exit. Then restart the container.

[2019-10-21 00:48] pb4ugoout commented on #54
Changing the user-agent to N/A worked for me.

[2019-10-21 00:48] pb4ugoout commented on #53
The fix mentioned above resolved my problem.

[2019-10-21 01:09] tteuer commented on #53
The fix above worked for me as well! Working like normal again. Thank you!

[2019-10-21 02:48] JamesCaudill commented on #54
Changing the user-agent to N/A worked for me also.

[2019-10-21 15:01] #54 closed, assigned to nobody

[2019-10-21 16:02] dswee999 commented on #54
@pb4ugoout thanks! Got it working!

[2019-10-21 20:54] iRayanKhan commented on #12
Closed;
Inactive.

[2019-10-21 20:54] #12 closed, assigned to nobody

[2019-10-21 20:56] iRayanKhan commented on #14
Closed;
Inactive.
May revisit later as I also have lights on my garage opener and saw an issue asking about door locks.

[2019-10-21 20:56] #14 closed, assigned to nobody

[2019-10-21 20:57] iRayanKhan commented on #18
Closed;
Inactive.
This issue may have been caused by an API change and solved by updating this plugin.

[2019-10-21 20:57] #18 closed, assigned to nobody

[2019-10-21 20:58] iRayanKhan commented on #26
Closed;
Inactive, and the solution above works since you need root permissions to access ```/usr/lib/node_modules```

[2019-10-21 20:58] #26 closed, assigned to nobody

[2019-10-21 21:00] iRayanKhan commented on #27
Closed;
Inactive,
This was likely caused by an API change. The latest release fixes this issue. If this issue still occurs re-open this issue.

[2019-10-21 21:00] #27 closed, assigned to nobody

[2019-10-21 21:01] iRayanKhan commented on #31
Closed; Inactive.
If I understand correctly, you could just make a switch to toggle when you are home a plugin called
```homebridge-dummy``` seems to work well as I use it on my Lamps.

[2019-10-21 21:01] #31 closed, assigned to nobody

[2019-10-21 21:02] iRayanKhan commented on #32
Closed;
Inactive.
I have a lift master garage and this plugin works great, they all seem to share the same API so it should work.

[2019-10-21 21:02] #32 closed, assigned to nobody

[2019-10-21 21:04] iRayanKhan commented on #34
Closed;
Inactive.
If I am understanding correctly, your issue is that Siri replies too fast on the status?
If the garage is closing and you ask Siri right when you chose to close it if it's closed, it'll still say it ins't closed since it isn't 100%.

[2019-10-21 21:04] #34 closed, assigned to nobody

[2019-10-21 21:06] iRayanKhan commented on #36
Closed;
Inactive.
If it's polling the updating status it doesn't seem to be able to reach your home hub, or the garage.

[2019-10-21 21:06] #36 closed, assigned to nobody

[2019-10-21 21:07] iRayanKhan commented on #38
Closed;
Inactive.
It just seems like a warning since it doesn't affect anything.

[2019-10-21 21:07] #38 closed, assigned to nobody

[2019-10-21 21:09] iRayanKhan commented on #40
Closed;
Inactive.
The plugin doesn't control the notifications aspect. When the open/closed state is reported, HomeKit will send the notification. And since everyone else gets the notification it may be a homehub/iCloud issue.

[2019-10-21 21:09] #40 closed, assigned to nobody

[2019-10-21 21:09] iRayanKhan commented on #41
Closed; Inactive.
The plugin works on the latest version of Node, something in your install may have broken. Try updating the plugin too.

[2019-10-21 21:09] #41 closed, assigned to nobody

[2019-10-21 21:10] #43 closed, assigned to nobody

[2019-10-21 21:10] #46 closed, assigned to nobody

[2019-10-21 21:10] iRayanKhan commented on #53
Closed, Fixed in latest release.
Upgrade this plugin using
``` sudo npm I -g homebridge-chamberlain```
This now utilizes the V5 Api.

[2019-10-21 22:13] smallen13 commented on #54
For what it's worth, after updating to 1.0.5, my device ID changed, so I had to update that. When I ran homebridge without the device ID to get the new one, I mysteriously have two of them now. The first one was the garage door, but the second one seems to be nothing. It added to homebridge, but threw this error when I toggled it:

`[10/21/2019, 10:08:14 PM] [other device id] Error: invalid respon

[2019-10-21 22:46] jpetticrew commented on #53
1.0.5 did not fix this for me. Now I am getting “no response” from my garage door and HTTP 500 errors on the console multiple times per minute.

[2019-10-21 23:12] iRayanKhan commented on #53
Can you print out the exact output? @jpetticrew

[2019-10-21 23:17] smallen13 commented on #53
@jpetticrew the device ID on my door changed. I had to delete it from my config and output the new IDs to figure out what to replace it with.

[2019-10-21 23:31] seldridge1 commented on #53
@iRayanKhan Having the same issue with the upgrade. Throwing the below output:

Error: invalid response, got HTTP 500: {"code":"500.000","message":"An error occurred while processing the request.","description":"Server Error"}
    at res.text.then.body (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:27:15)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.j

[2019-10-21 23:37] jpetticrew commented on #53
@seldridge1 That was the exact error I was getting. I deleted the deviceID from my confit file and it started working. I think @smallen13 is right. I guess the deviceID changed, but I only have one door so I guess I didn’t actually need it.

[2019-10-22 00:06] seldridge1 commented on #53
@jpetticrew, thanks. @smallen13 is correct. All is well again. Thanks!

[2019-10-22 00:30] smallen13 commented on #53
I only have one door, but my opener has two device IDs. First one was the one that works. Second one didn’t do anything, and resulted in an error. Would love to know what it’s there for.

[2019-10-22 01:50] seldridge1 commented on #53
@smallen13, same set up. Second device ID worked for me, first threw an error.

[2019-10-22 02:48] AdamSnow commented on #54
@smallen13 You aren't alone... I have two garage door openers and am showing four device IDs. A bit of trial and error to find out what ones were the doors, and what ones just threw the error.

I too, was hoping for the light!

[2019-10-22 04:04] iRayanKhan commented on #53
I’ve heard about multiple ID’s being generated for one device, or multiple for each type of device. The reason is seems to be doing this, is either an api/server error, or your opener has another accessory like a light, mine does too, but only generated one ID. I’ll add this to the common issues page.

[2019-10-22 04:31] russmo commented on #53
I had two ids of the form GW00000##### and CG##########.  The CG########## is the one that works for my door with myq.  The numbers after GW in the GW00000##### deviceid matches the serial number of my ethernet connected chamberlain internet gateway device if that is helpful.

[2019-10-22 05:35] russmo commented on #53
Here is the JSON returned when I queried the MyQ V5 API with curl on the command line.  Pretty easy to pick off the "device_family": "gateway" / "device_type": "ethernetgateway" as compared to the  "device_family": "garagedoor" / "device_type": "garagedooropener".  Perhaps this plugin should be filtering out gateways since it configures a single accessory.

[code]

[2019-10-22 14:33] frahli commented on #53
I´m getting the two devices error, too

`[2019-10-22 4:28:51 PM] [Tor] Error: Multiple controllable devices found: GWXXXXXXXXXXXX, CGXXXXXXXX
    at getDeviceList.then.devices (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:106:13)
    at process._tickCallback (internal/process/next_tick.js:68:7)`

 I fixed my config like this:

{
            "accessory": "Chamberlain",

[2019-10-22 14:55] frahli commented on #53
Got the solution: I had ro write: deviceId with a capital i

[2019-10-22 16:45] iRayanKhan commented on #53
@russmo later tonight I'll hopefully have a branch for you to test to see if it filters out the gateway.

[2019-10-22 17:18] russmo commented on #53
@iRayanKhan I can test in the evening or morning when you are ready.  The homebridge-myq2 (and homebridge-liftmaster2) plugins take a platform approach that handles mutliple devices versus the homebridge-chamberlain accessory approach that configures a single device per accessory in the config.json.  I only have one door and no other myq controlled devices, plus it seems like the PR from @ConradIr

[2019-10-22 17:26] iRayanKhan commented on #53
@russmo the last Api change before this one was August 6th, so they'll keep trying.
I currently made [this branch](https://github.com/caseywebdev/homebridge-chamberlain/tree/v4Api) for those who have issues with the latest version. Read the top bit of the ReadMe for some info on it. As for the ethernet gateway fix, I have a solution and will make another branch to see if it works and for people to

[2019-10-22 17:36] russmo commented on #53
@iRayanKhan understood.  To be clear release 1.0.5 works great for me when I specify the correct deviceId.  I will try your gateway filtering branch when it's ready and let you know if it works without specifying a deviceId in the config for someone with one garage door and an internet gateway.  I have the 828LM device ([https://www.liftmaster.com/828lm-internet-gateway/p/G828LM](https://www.liftm

[2019-10-22 17:50] iRayanKhan commented on #53
Thank you for all this info, especially:

If anyone else has ethernet gateways with a serial number not starting with ```GW``` please let me know.

[2019-10-22 17:51] iRayanKhan commented on #53
@russmo I'm going to close this issue, please make a new one about the gateways so that it's not mixed in with the API being broken talk.
Edit: Added Branch "```Test```"

[2019-10-22 17:51] #53 closed, assigned to iRayanKhan

[2019-10-22 19:45] hawflakes commented on #53
How do I get the deviceId when the plugin is 500ing? Is there an easy/documented way to curl my way into this? Pardon my inexperience with node.js.

[2019-10-22 19:47] iRayanKhan commented on #53
@hawflakes try the latest version of the plugin, then have the DeviceID field in the config blank, or the config file blank. Homebridge will then crash intentionally and say
[Chamberlain] (Device ID xx)

[2019-10-22 19:49] hawflakes commented on #53
@iRayanKhan yes. I was hoping to see that but instead I see a whole lotta:
[code]

Do I need to move aside the homebridge `accessories` and `persist` to let it think it's setting up for the first time to see these messages?

EDIT: forgot to say that I am running 1.0.5 (latest) and thanks for the help!

[2019-10-22 20:09] iRayanKhan opened #58 "Test Issue for templates"
# Explain the issue occuring:
(Give a description of the occuring behaviour.)

# Expected Result
(Give a description of the expected behaviour.)

# Info
iOS Version:
Plugin Version:
HomeBridge Version:
Node/Npm Version:

# Log Output:
(If applicable)

[2019-10-22 20:10] iRayanKhan commented on #58
Welp this is great :P

[2019-10-22 20:10] #58 closed, assigned to nobody

[2019-10-22 21:00] russmo opened #59 "Filter out gateways and select single garage door device when deviceId not specified in config.json"
In order to make this plugin "just work" with minimal effort and configuration by users with a single garage door, consider filtering gateway devices from garage doors or other controllable devices.  The devices list from MyQ api v5 is returning doors/openers as well as gateway devices such as the Liftmaster or Chamberlain wired MyQ internet gateway (model 828LM or CIGBU)  Two things come to mind:

[2019-10-22 21:02] russmo commented on #59
Here is the JSON returned when I queried the MyQ V5 API with curl on the command line.  Pretty easy to pick off the "device_family": "gateway" / "device_type": "ethernetgateway" as compared to the  "device_family": "garagedoor" / "device_type": "garagedooropener".

[code]

[2019-10-22 22:10] schmidt660 commented on #54
Thanks for the comments above. My door stopped working a few days ago via HomeKit and it’s been driving me mad! New to coding / how to do I fix or access the file to amend the code via a home bridge docker on a synology nas? Thanks in advance! Alex

[2019-10-22 22:44] nicholastripp commented on #54
Many thanks to all for taking the time to solve and post the solution. Saved me many hours of troubleshooting.

[2019-10-23 04:14] iRayanKhan commented on #59
Great detail, time to investigate this.

This used to be the case in the V4api Branch since it didn't detect the ethernet gateways.

I made a fork called "test" which may alleviate this issue. I haven't tested the branch yet locally so you can do it at your own will (It hasn't been verified to even run yet), but I will run it tomorrow when I get home. If that fork does work, I'll conduct more test

[2019-10-23 04:18] iRayanKhan commented on #53
@hawflakes, any chance you are using docker?
I think clearing the accessories should work, if you want, it may be easier to do the following on a pi if use more than just this plugin.
```mkdir GarageBridge``` - New Directory
```cd GarageBridge``` - Change Directory path to this folder
``` nano config.json``` - Make a new config.json file with just this plugin in the config and device id's blank. M

[2019-10-23 12:02] AdamSnow opened #60 "HTTP 401 - Security Token Expired"
Garage Doors not responding in Homekit anymore. Just did the update to the new API and it worked for a couple of days, but now both door openers are giving the same error.

# Info
Plugin Version: 1.0.5
HomeBridge Version: 0.4.50

# Log Output:
Error: invalid response, got HTTP 401: {"code":"401.101","message":"Unauthorized","description":"The Security Token has expired."}
    at res.text.then.body

[2019-10-23 16:39] iRayanKhan commented on #60
Have you tried making a new bridge or remove your Garages from HomeKit and remove deviceID's from the config? Many people have reported their ID's changing.

[2019-10-23 22:21] hawflakes commented on #53
Sorry for the slow reply, @iRayanKhan I am using an RPi and following your instructions yielded me the codes! Now with the updated `deviceId` everything is working again.

[2019-10-24 00:50] iRayanKhan commented on #54
@schmidt660 just update the plugin as a PR has been merged implementing a fix.

[2019-10-24 00:51] iRayanKhan commented on #53
Glad to hear it's all working! I'll add this as a fix in the common issues pages soon.

[2019-10-24 04:40] russmo commented on #59
test branch works fine for me whether I specify the deviceId for my one garage door or remove that parameter from config.json.

[2019-10-24 11:08] schmidt660 commented on #54
Thanks. It says it is up to date (last updated a few days ago). Still not working via homekit (not responding) - but works fine through the Chamberlain app.

It shows as working on via the homebridge admin page under ‘Accessories’ however, which is odd?

[2019-10-24 14:17] iRayanKhan commented on #59
@russmo I can't believe I kept saying fork instead of branch. So to confirm, does it filter the device out and no longer crash the instance?

[2019-10-24 14:18] iRayanKhan commented on #54
@schmidt660 sounds like a new issue, can you make a new one so I can keep it organized?

[2019-10-24 14:19] iRayanKhan commented on #54
If anyone here has any issues, please make a new issue.

[2019-10-24 14:38] schmidt660 opened #61 "Shows at ‘Not Responding’ in home app"
Started about a week ago, HomeKit (home app) shows as ‘not responding’ yet works fine in chamberlain app. Also shows correct status in homebridge admin page under accessories.

Other homebridge plugin (for LG webos tv) working fine via homebridge in home app, so just just an issue with this.

[2019-10-24 14:39] schmidt660 commented on #54
Thanks - have (hopefully) creates a new issue. First time using GitHub so all new to me!

[2019-10-24 14:40] iRayanKhan commented on #61
@schmidt660 Few questions:
1) Does it work with Siri Still?
2) Can any other devices control the Garage?
3) Is the plugin updated and on the latest version?
4) What iOS version is your device on?

[2019-10-24 14:41] schmidt660 commented on #61
Nope stopped working with Siri as well. The chamberlain myq app still works fine. The plugin is up to date (just checked again). Devices are all on latest iOS 13.1.3

[2019-10-24 15:26] derek-miller commented on #54
For what it’s worth, when I hit this issue I went into the chamberlain web UI and reset my password, updated my homebridge config with the new password and all has been fine since. I didn’t have to update or change any code.

[2019-10-24 16:02] schmidt660 commented on #54
Thanks- just tried that but still not working

[2019-10-24 17:44] iRayanKhan commented on #61
Are you using docker? Also can you run HomeBridge with the Home App closed, then open it and try to control it. The logs should state the error when the Home app requests a Status Update. Also do you mind pasting your config.json file? Make sure to remove all personal info.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-24 17:56] schmidt660 commented on #61
Yeah using docker. Just checked logs and it’s saying error multiple devices found? Weird I only have garage door!

[2019-10-24 18:31] schmidt660 commented on #61
[10/24/2019, 7:30:13 PM] [Garage Door] Error: Multiple controllable devices found: CGxxxxxx, GWxxxx
    at /homebridge/node_modules/homebridge-chamberlain/src/api.js:106:13
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)

Edited by iRayanKhan:
Removed DeviceID’s so no one can try it.

[2019-10-24 18:39] iRayanKhan commented on #61
I made a branch called “test” to fix the Multiple Devices found. The GW is the ethernet gateway. I heard with Docker, updating plugins doesn’t work well so uninstalling the plugin and re-installing would work. As for the Multiple ID’s, try the CG one.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-24 18:47] schmidt660 commented on #61
Thanks. Sorry totally new to this - what do I need to amend? I've just tried to uninstall and reinstall the plugin but still no luck. Do I need to amend thew config file at all? Appreciate all your help with this.

[2019-10-24 19:04] iRayanKhan commented on #61
@schmidt660
No worries, Try cd /usr/lib/node_modules
Then do sudo rm -r homebridge-chamberlain
Then reinstall the plugin.
Click this and read issue 5:

https://github.com/caseywebdev/homebridge-chamberlain/wiki/Common-Issues

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-24 21:19] beaverly72 opened #63 "Chamberlain Openers No Longer Responding: HTTP 500 Error"
# Explain the issue occuring:
receiving Error: invalid response, got HTTP 500 error

# Expected Result

# Info
iOS Version: 13.1.3
Plugin Version: v1.0.5
HomeBridge Version: 0.4.50
Node/Npm Version: ?

# Log Output:
at /usr/lib/node_modules/homebridge-chamberlain/src/api.js:27:15
at processTicksAndRejections (internal/process/task_queues.js:89:5)
[10/24/2019, 4:08:42 PM] [Garage Door] Error: inval

[2019-10-24 22:24] coneslayer commented on #60
This happened to me today as well. Restarting homebridge "fixed" it, but I would guess that this response needs to be caught, and the username/password login needs to be repeated to get a new security token.

[2019-10-24 23:27] codetheweb commented on #63
I'm getting the same thing, was working fine until recently.

[2019-10-25 00:43] iRayanKhan commented on #63
Question for you both, are you all using docker?

[2019-10-25 00:45] iRayanKhan opened #64 "Not Responding: Error 500"
This issue seems to be popping up for a lot of people. I still wish to keep them separate from one another since people have different setups, but this issue will be used for general discussion and potential fixes that are suggested to help fix this issue.

[2019-10-25 00:46] huanga commented on #63
Using pm2 for my setup, also seeing the same problem.

I just did `npm up -g` and `npm install -g homebridge-chamberlain`, the issue still persist.

[2019-10-25 00:46] codetheweb commented on #63
I'm using Docker, and have the latest version of this plugin installed.

[2019-10-25 00:54] iRayanKhan commented on #60
@coneslayer thank you for verifying that this works, going to advise people to do this.

[2019-10-25 00:54] iRayanKhan commented on #63
@huanga I am also using PM2 and am using the v4Api branch.

@codetheweb I saw an issue with docker and this plugin with the V5 Update not going well.

Theres 2 fixes you both can try
. # 1 is [to see this comment ](https://github.com/caseywebdev/homebridge-chamberlain/issues/60#issuecomment-546127153)

or # 2 is [to see the Common Issues page](https://github.com/caseywebdev/homebridge-chamberlain/

[2019-10-25 00:56] huanga commented on #63
@iRayanKhan > I'm using 1.0.5 of the package, source code suggests I'm using v4.1 API:

[code]

[2019-10-25 00:57] AdamSnow commented on #60
Rebooting does appear to fix it. Should have tried that from the beginning. Thanks for the help!

[2019-10-25 00:58] iRayanKhan commented on #60
Anytime, glad to be tackling this issue.

[2019-10-25 00:59] coneslayer commented on #60
IMHO this is still a bug and should remain open. The security token expired error should be caught and a new token should be requested via the API by sending the username and password again.

[2019-10-25 01:00] AdamSnow commented on #60
I agree with that thought. Re-opened.

[2019-10-25 01:33] beaverly72 commented on #63
Option #2 fixed it for me. I saw this fix earlier, but the error message made me think it was unrelated.  Thanks!

Should I close this?

[2019-10-25 01:37] iRayanKhan commented on #63
@beaverly72 I'll close it thanks! @huanga #64

[2019-10-25 01:37] #63 closed, assigned to iRayanKhan

[2019-10-25 01:38] iRayanKhan commented on #64
Seems like many users who are using docker, show that the API file still says V4.1 which means the plugin didn't update properly.
So delete the plugin file from
```/usr/lib/node_modules``` then re-install the plugin and see if the ```api.js``` file shows the V5 APi.

[2019-10-25 01:41] iRayanKhan commented on #60
@coneslayer It was caught back in ```V0.0.15``` on September 27th 2016.
I guess since the API has been refreshing a lot it seems to have changed. I'm going to look back on the SC and see how to implement it properly in the newly V5 Api.

I am not too familiar with the tokens and API, but I don't know if the API can see if it has expired. Maybe I can see if it spits out that error, to re-login to t

[2019-10-25 08:30] schmidt660 commented on #61
Thanks. Tried that, reinstalled, but still no luck. Still saying multiple controllable devices. Is there somewhere I can edit where it is picking up the multiple devices from?

[2019-10-25 10:23] schmidt660 commented on #64
Just checked api.js in '/volume1/docker/homebridge/node_modules/homebridge-chamberlain/src/api.js' and it still says 'ApiVersion: '4.1'

Is there a new api.js file I can replace this with, that has V5?

[2019-10-25 10:24] schmidt660 commented on #64
I've deleted and reinstalled the plugin a number of times

[2019-10-25 10:42] schmidt660 commented on #64
Although saying that, it also says 4.1 on the code on GitHub so not sure

[2019-10-25 13:24] tekie99 commented on #64
I am not running docker... running straight off macOS and it has also not been working for me either.. I have updated to the latest release, and the api.js seems to be identical to the release now but I am plagued with the 500 errors on both of my doors:

[10/25/2019, 9:16:20 AM] [Detatched Garage Door] Error: invalid response, got HTTP 500: {"code":"500.000","message":"An error occurred while pro

[2019-10-25 17:54] iRayanKhan commented on #64
Something isn’t syncing with the update. I’ll push a new release to see if it’ll update the api.js.
Try the test branch for now since it seems to be working

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-25 17:55] iRayanKhan commented on #61
@schmidt660 That is expected behavior now all you need to is
in the config.json file, add the device ID that starts with CG. It should work then.

[2019-10-25 18:04] huanga commented on #64
Just checked my side (npm/pm2 install, not Docker), running package 1.0.5, `api.js` shows 4.1 on top, but v5 API later down in the file for the actual requests. The file seems to be the same as the one on github:

[Line 18](https://github.com/caseywebdev/homebridge-chamberlain/blob/master/src/api.js#L18):
`      ApiVersion: '4.1',`

[Line 67](https://github.com/caseywebdev/homebridge-chamberlain/b

[2019-10-25 18:06] iRayanKhan commented on #64
@huanga This definitely should help, can you try out the V4Api Branch? That's what I'm using and it works for me.

[2019-10-25 18:19] schmidt660 commented on #61
Thanks. Where exactly does the ID go? Is it just ‘Device ID: XXXXXXX’ ?

[2019-10-25 18:24] iRayanKhan commented on #61
@schmidt660 it goes here:
[code]
If you need help with the config file let me know.

[2019-10-25 18:28] schmidt660 commented on #61
Working again! Adding the device ID fixed it. Thank you so much

[2019-10-25 18:42] iRayanKhan commented on #61
Anytime, glad this worked!

[2019-10-25 18:42] #61 closed, assigned to iRayanKhan

[2019-10-25 18:44] iRayanKhan commented on #64
Ok @huanga this fix has worked for everyone so far so let's see if it will for you:
To get new device ID's, try out the following:
```mkdir GarageBridge``` - New Directory

```cd GarageBridge``` - Change Directory path to this folder

``` nano config.json``` - Make a new config.json file with just this plugin in the config and device id's blank.

``` cd ``` - Change back to main directory (importa

[2019-10-25 18:46] iRayanKhan commented on #59
Closing this issue; adding this fix to the backlog and will work on it.
Thanks for reporting it, and giving lots of info about the gateway ID. Will have it patched ASAP.

[2019-10-25 18:46] #59 closed, assigned to iRayanKhan

[2019-10-25 18:47] iRayanKhan commented on #60
Closing this issue; adding this fix to the backlog and will work on it.

Thanks for reporting this y'all, I will do more investigating and hopefully V1.0.7 should fix this or 1.0.8

[2019-10-25 18:59] huanga commented on #64
Was restarting homebridge continuously anyway, so I just commented out the device ID, restarted it, nabbed the new IDs (somehow there are two, first one worked though), and restarted it again. Seems to be working now -- no visual confirmation, but the MyQ app seems to suggest it is working, so there's that.

Thanks for this!

[2019-10-25 19:01] iRayanKhan commented on #64
Yup, it spits out 2 ID's (will be fixed soon), since one is for the ethernet gateway.

[2019-10-25 20:08] tekie99 commented on #64
I'm all fixed now! Thanks guys!  It was a brutal week for me without my doors being in Homekit, lol... I almost broke down and bought the $70 Homekit add-on from Chamberlain

[2019-10-25 21:52] hodgson-ken commented on #64
Where do we start this process (in which folder)?  I want to test this, but am not sure where to be when typing: mkdir GarageBridge, etc.

[2019-10-25 22:01] iRayanKhan commented on #64
It’s done in the default directory. Are you using a pi or something else? If a pi, just type
[code]
Then start the command chain I posted.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-26 02:10] codetheweb commented on #64
Thanks for the help @iRayanKhan, updating the device ID worked.  Had to use the one starting with `CG`.

[2019-10-26 03:22] iRayanKhan commented on #64
Anytime @codetheweb, glad it's fixed now.

[2019-10-26 04:22] hodgson-ken commented on #64
Just a pi so I’ll try that tomorrow. Thanks.

UPDATE: All fixed!  Thank you!

Ken Hodgson

[2019-10-26 07:22] russmo commented on #60
Just confirming that this shows up on my end after running for about two days on the the 1.0.5 release.  Not sure that issues like this should be closed for bugs that break the current release until they are addressed by real code fixes.  It makes it seem that this issue has been addressed and is no longer affecting the code base.  As it stands, anyone that uses release 1.0.5 is going to have to r

[2019-10-26 09:55] Cardo1 opened #66 "TypeError: Cannot read property 'indexOf' of undefined"
Good morning,

I'm trying to setup this plugin to access my two Chamberlain garage openers, but when trying to obtain the device IDs I'm getting the following error and HomeBridge is brought down:

TypeError: Cannot read property 'indexOf' of undefined
    at API.platform (/usr/local/lib/node_modules/homebridge/lib/api.js:120:12)
    at Server._loadPlatforms (/usr/local/lib/node_modules/homebridge

[2019-10-26 11:00] Cardo1 commented on #66
Me dumb dumb.

This plugin is an accessory, not a platform.  Changing the config to fall under accessory rather than platform solved it.

I leave this here just in case anyone else is silly like me.  :)

[2019-10-26 11:03] #66 closed, assigned to nobody

[2019-10-26 16:48] iRayanKhan commented on #60
I’ll re open it then, but this is a one time issue to seems since there has been a big difference in the V4 and V5 API’s.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-26 17:16] coneslayer commented on #60
I'm testing this simple change, but it will be a couple of days before I know if it works...
[code]

[2019-10-27 06:34] fisch55 commented on #64
Hi, I've got the same message like the others...

`[10/27/2019, 7:33:43 AM] [Garagentor] Error: invalid response, got HTTP 500: {"code":"500.000","message":"An error occurred while processing the request.","description":"Server Error"}
    at res.text.then.body (/usr/lib/node_modules/homebridge-chamberlain/src/api.js:27:15)
    at process._tickCallback (internal/process/next_tick.js:68:7)`

[2019-10-27 06:54] fisch55 commented on #64
Ok ...it works with CGxxxxxx THX

[2019-10-28 00:03] ssllii commented on #54
I have version 1.0.6:
 sudo npm show homebridge-chamberlain version
1.0.6

But I am still getting this error:
homebridge[13453]: at getDeviceList.then.devices (/usr/lib/node_modules/homebridge-chamberlain/src/api.js:71:31)
Oct 27 16:50:34 sampi homebridge[13453]: at process._tickCallback (internal/process/next_tick.js:109:7)

I haven't manually updated api.js to use "N/A" yet, do I need to with ve

[2019-10-29 04:55] janthony6 commented on #64
I can confirm that the deviceid should start with CG now.

Easier way to accomplish finding your new deviceid is to go into your current config and delete change the word "deviceId" to anything else - in my case I just deleted 1 letter.  then restart homebridge and check your logs.  it will show all the deviceid numbers.  I grabbed the CG one and plugged it in, then fixed "deviceI" to "deviceId" a

[2019-10-29 22:53] tekie99 commented on #64
this afternoon this started cropping up after working for a couple days without issue:

[10/29/2019, 6:52:03 PM] [Main Garage Door] SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at /usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:33:19
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
[10/29/2019, 6:52:03 PM] [Detatched

[2019-10-29 23:35] DMBlakeley opened #68 "“No Reponse” after update to 1.05 and iOS 13.2"
# Explain the issue occuring:
Home app on iPhone indicates “No Response” for garage door.

# Expected Result
“Open” or “Closed” expected

# Info
iOS Version: 13.2
Plugin Version: 1.06
HomeBridge Version: 0.4.50
Node/Npm Version: 5.10.0

# Log Output:
Keep getting following error in Homebridge log:

[ 2019-10-29 19:26:40] [Garage Door] SyntaxError: Unexpected token < in JSON at position 0
    at JS

[2019-10-29 23:38] garymh commented on #68
Same here 😕

[2019-10-29 23:45] tastheimer commented on #68
I also see this error. I have found no correlation and action I see it as soon as homebridge is restarted.
`[10/29/2019, 11:40:32 PM] [Left Garage Door] SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at fetch.then.then.data (/homebridge/node_modules/homebridge-chamberlain/src/api.js:33:19)
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2019-10-29 23:45] tekie99 commented on #68
same as well..

[2019-10-29 23:48] dswee999 commented on #68
Same here. Just got it working again last night from the last issue.

[2019-10-29 23:49] nflute commented on #68
Same here after restating Homebridge

[2019-10-29 23:57] snoslicer8 commented on #68
I get the same issue starting today.

[2019-10-30 00:02] tarbychark commented on #68
Same issue starting today as well.

[2019-10-30 00:11] iRayanKhan commented on #68
I might have broken something in the latest update. Going to tackle it tonight. Everyone that can repo, can you paste your logs and config please? It will help pin point the issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-30 00:29] A2-Dev commented on #68
from homebridge-error.log:

[10/29/2019, 7:26:13 PM] [MonkeyGarage] SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at fetch.then.then.data (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:33:19)
    at processTicksAndRejections (internal/process/task_queues.js:86:5)

[2019-10-30 00:34] tarbychark commented on #68
^ Exact same error for me (different garage name of course)

[2019-10-30 00:45] A2-Dev commented on #68
changed line 33 to

which returned the following:

    at fetch.then.then.data (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:33:8)
    at processTicksAndRejections (internal/process/task_queues.js:86:5)

*edit*
ps: FreeBSD, npm and pm2 both fully updated

[2019-10-30 01:34] markcarroll commented on #68
Same issue. Same error.
[code]
I tried removing the deviceIDs to see if it was the same issue as last time but it didn't help.

[2019-10-30 02:35] blakems commented on #68
Here are my log outputs. I did update to 1.06 and still have the same issue.
[code]

[2019-10-30 04:20] jocamero commented on #68
Getting same error as A2-Dev

[2019-10-30 05:56] iRayanKhan commented on #68
Thanks @A2-Dev for this info. I wonder if it was my code change that broke it, or an API change. Last I checked my garages worked fine using the V4 API from V1.0.4. I wonder if the V5 Api went down or is being pulled temporarily. I will crack at this some more and release V1.0.7 asap.

[2019-10-30 05:56] iRayanKhan commented on #68
Checked #67, seems like an API change. If anyone can test that branch and report back if it works I'll merge it in!

[2019-10-30 08:35] antoniokly commented on #68
same error here

[2019-10-30 10:59] Cardo1 opened #69 "Unexpected token"
Hi there,

I've been using this plugin for the past few days without issue.  However, as of yesterday my garage doors have become unavailable and I have the following error popping up in the log every 10 seconds:

[10/30/2019, 10:56:21 AM] [Garage Door] SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at /usr/local/lib/node_modules/homebridge-chamberlain/sr

[2019-10-30 11:19] Cardo1 commented on #69
Duplicate issue...

[2019-10-30 11:19] #69 closed, assigned to nobody

[2019-10-30 11:23] JamesCaudill commented on #64
I also started getting the same error as @tekie99.  It was working for a couple of days, and just noticed this morning that the garage door was unresponsive.  No change in the config file.

[2019-10-30 11:23] monteroman commented on #68
Getting this with 2 doors:
SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at /usr/lib/node_modules/homebridge-chamberlain/src/api.js:33:19
    at processTicksAndRejections (internal/process/task_queues.js:89:5)

This keeps repeating over and over.

So yup, same issue.  :(

[2019-10-30 11:31] hodgson-ken commented on #64
Same here. It dropped sometime last night, it seems.

Ken Hodgson

[2019-10-30 11:34] JamesCaudill commented on #68
@iRayanKhan I tried the fix, the user agent change, and it works for me now.  I had to remove the bridge and re-add it to the Home app, and it seems to be working for me now.

[2019-10-30 11:38] JamesCaudill commented on #64
The error: SyntaxError: Unexpected token < in JSON at position 0 is a duplicate issue.  See [issue #68](https://github.com/caseywebdev/homebridge-chamberlain/issues/68) that has a fix for a user agent change.  Seemed to work for me.

[2019-10-30 11:53] monteroman commented on #68
After looking through the various threads here, I tried the user-agent change in the api.js file to say 'User-Agent': 'myQ/14041 CFNetwork/1107.1 Darwin/19.0.0' and restarted HomeBridge and it's working again for me.  I'm no longer seeing the errors.

Btw, HomeBridge is running in a docker under UnRaid.

[2019-10-30 12:29] hemijj commented on #68
User agent change in api.js to 'User-Agent': 'myQ/14041 CFNetwork/1107.1 Darwin/19.0.0' fixed mine as well. Thanks

[2019-10-30 12:35] tekie99 commented on #68
User agent fixed mine as well! Thanks!

[2019-10-30 12:56] DMBlakeley commented on #68
User agent change in api.js to 'User-Agent': 'myQ/14041 CFNetwork/1107.1 Darwin/19.0.0' fixed mine as well. Thanks!

[2019-10-30 13:47] iRayanKhan commented on #68
Merged #67. I can't push it to NPM for another 7-8 hours since I don't have access to a machine with NPM to push with. Will definitely push ASAP. In the mean time you can ```git clone``` this repo or modify the ```api.js``` file.

[2019-10-30 13:47] iRayanKhan commented on #64
This issue seems to be resolved and issue 68 has also been resolved.

[2019-10-30 13:47] #64 closed, assigned to iRayanKhan

[2019-10-30 13:55] iRayanKhan commented on #60
By chance does anyone have an expired security token still willing to test @coneslayer's fix? I'm making a branch called ```development``` with the changes in about 8 hours. As of right now it's even with master.

[2019-10-30 14:30] jwojo74 commented on #68
I tried modifying api.js as suggested about after a fresh install.  I am now getting the following error.  I have two garage doors and they both get the same thing.  Any thoughts?  Thank you

Oct 30 10:19:04 raspberrypi homebridge[2893]: [2019-10-30 10:19:04] [Volkswagen Garage Door] Error: invalid response, got HTTP 500: {"code":"500.000","message":"An error occurred while processing the request.

[2019-10-30 14:44] A2-Dev commented on #68
Issue seems resolved with the user agent change.
Also had the 500 issue due to deviceId but figured that out before i saw the reference.

Thanks for the work you do for this plugin,

[2019-10-30 15:05] iRayanKhan commented on #68
@jwojo74 see #64 or the Common Issues page on the Wiki.

[2019-10-30 15:25] jdberry commented on #68
I can confirm that changing the user agent in the api.js file fixed the issue for me.

[2019-10-30 15:41] muzzymate commented on #68
Thank you. Changed the user agent in the api.js file to the suggested value, and now it's working again. Simply had to restart the Homebridge instance after making the change.

[2019-10-30 16:00] gabors commented on #68
Thanks guys, updating the UA string as per above fixed this for me as well.

[2019-10-31 04:15] johnshumate commented on #68
Changing to 'User-Agent': 'myQ/14041 CFNetwork/1107.1 Darwin/19.0.0' fixed it for me as well.  Thanks!

[2019-10-31 04:20] ldhall1856 commented on #68
@iRayanKhan when do you think you can push out that update?

Thanks,
ldhall1856

[2019-10-31 05:32] iRayanKhan commented on #68
Published ```V1.0.7``` with the fix to NPM. Sorry for the delay!

[2019-10-31 17:12] iRayanKhan commented on #68
Patch is confirmed working, going to close this.

[2019-10-31 17:12] #68 closed, assigned to iRayanKhan

[2019-11-02 02:37] t0lbert64 opened #70 "is this the http issue?"
did chamberlain mess with their API?

here is a screenshot of the error.  was workin perfect, than just started doing this like 2-3 weeks ago i believe?

thank you.
<img width="737" alt="Screen Shot 2019-11-01 at 7 34 36 PM" src="https://user-images.githubusercontent.com/49455193/68064895-0dbe6980-fcdf-11e9-88ea-e6649d2a8a49.png">

[2019-11-02 03:06] iRayanKhan commented on #70
Hello @t0lbert64 , this issue was resolved in the past few releases. To fix this do the following
1) Update the plugin
2) In the ```config.json``` file remove the ```"deviceID"``` parameter
3) Run HomeBridge with the ```deviceID``` parameter empty
4) Plugin will crash and spit a __new__ ```deviceID```
5) Enter in the ```deviceID``` that starts with ```CG``` in your ```config.json``` file.
This sho

[2019-11-02 03:13] t0lbert64 commented on #70
yup. nailed it.  just did that and was going to erase my issue.  thanks for the quick reply.

[2019-11-02 03:13] #70 closed, assigned to iRayanKhan

[2019-11-06 09:59] longrass commented on #60
Have we got a fix yet team? I’m having to reboot homebridge twice a day now!

[2019-11-06 12:10] coneslayer commented on #60
I've had homebridge running continuously for about 5 days with no problems, with the `Security Token has expired` change above, plus a `User-Agent` change similar to [this one](https://github.com/caseywebdev/homebridge-chamberlain/commit/07ca9bd30eb2d37a87780a6a4150a03cb73bc0a1) (that change hadn't been committed yet when I was last troubleshooting).

[2019-11-06 12:13] longrass commented on #60
I’m a noob with this stuff, would you mind explaining to me please what steps I can take to resolve it?

[2019-11-06 14:50] hepcat72 opened #71 "Error: EAI_AGAIN"
# Explain the issue occuring:

My garage door stopped responding to commands maybe a month or so ago.  Siri always says "Your garage door is opening" as if the command worked, but the garage door never budges.  I have not waited long enough to see if it times out.  Just looking at the log now.  It's filled with these errors:

[code]

# Expected Result

Garage door responds to commands.

# Info
iOS

[2019-11-06 14:53] zwoop commented on #71
I'm having a similar issue, my garage doors stopped responding, I upgraded home bridge and all plugins, but now I get

[code]

Did Chamberlain change something on their servers? New URL(s) ?

[2019-11-06 15:29] hepcat72 commented on #71
Mine is a client error (443) and yours is a server error (500). I could be wrong, but I suspect they are unrelated.

[2019-11-06 16:17] zwoop commented on #71
I'm thinking that Chamberlain changed the server names (or something), and maybe we get different errors based on versions of software / setup ?

[2019-11-06 16:48] hepcat72 commented on #71
We are both getting responses from the servers, so there are servers with those names that exist.  If I go to https://myqexternal.myqdevice.com, I get a response:

[code]

But that's not a proper POST.  It does show that the server exists though.  I suspect that in my case, it's likely that the [Chamberlain API has changed](https://www.reddit.com/r/homeassistant/comments/djw9bm/myq_garage_door_una

[2019-11-06 17:12] hepcat72 commented on #71
It looks like Chamberlain no longer supports the web interface.  When I go here: https://www.mychamberlain.com/Login.aspx

I see:

[2019-11-06 19:09] iRayanKhan commented on #71
In regards to the error 500, check #64. For error 443 I think it's an expired security token and the fix for #64 should also work for it. I'll have more of a look into it once I get home.

[2019-11-06 19:10] iRayanKhan commented on #60
I'll update the development branch with those changes tonight, if anyone would be kind enough to test it out, I'd appreciate it. I personally still use the V4 Api (4 versions behind) and it still works for me.

[2019-11-06 19:12] iRayanKhan commented on #71
I can still login to that and use the web interface, it shows when my garages were last closed, but I haven't tried to see if I can open it since I'm not home atm.

[2019-11-06 19:16] nebduj commented on #60
I manually changed the code in my pi to match coneslayer's change and restarted homebridge.  Began working immediately.  My pi hadn't worked even after restarting it previously.

[2019-11-06 20:04] hepcat72 commented on #71
You're right.  I was able to login to the web interface as well.  Look's like it's not officially dead yet.

Anyway, I tried the solution from #64, but I do not get a new device ID output on the console.  Instead, I get this error spit out over and over every few seconds:

[code]

I can still control my garage door with the MyQ app, so I'm not sure what to make of the error.

Incidentally, I had t

[2019-11-06 20:30] hepcat72 commented on #71
I can see the garage door connected to my network via Airport Utility, but I don't see it in bonjour browser or in avahi-browse.  I assume it's supposed to be discoverable via bonjour?  Since it's not there, is there a way to make a DHCP reservation and set it up via IP?

[2019-11-07 14:47] hepcat72 commented on #71
OK.  I updated npm, then updated homebridge-chamberlain, re-ran the procedure from #64, got 2 possible/different device IDs, updated my config.json, restarted homebridge, and tested it out and it worked.

Also - after the update, I had restarted homebridge before the config update and got the same 500 server error @zwoop was seeing.

[2019-11-07 14:47] #71 closed, assigned to nobody

[2019-11-07 19:16] iRayanKhan commented on #60
Can anyone validate this for me?
https://github.com/caseywebdev/homebridge-chamberlain/pull/72

[2019-11-07 21:33] coneslayer commented on #60
@iRayanKhan I've just installed the `development` branch and it's working fine for me, but it will probably take a couple of days (48 hours?) to be confident that the expired security token fix is working.

[2019-11-08 03:23] longrass commented on #60
Can anyone help me
With what I need to do please?

[2019-11-08 06:29] mc-hamster opened #73 "invalid response, got HTTP 500"
# Explain the issue occurring:
Opening / Closing garage door through home app on either ios or mac os does not work. 500 errors are in the log file.

I was previously running 1.0.2 but since upgraded to 1.0.7.

Followed the instructions in:

https://github.com/caseywebdev/homebridge-chamberlain/wiki/Common-Issues

Noticed that my deviceId has changed from a purely numerical ID to one starting with

[2019-11-08 06:34] mc-hamster commented on #73
While I was on 1.0.2, I had a different error message. See below:

Nov  7 21:52:36 Shanghai homebridge[971]: [11/7/2019, 9:52:36 PM] [Garage Door] { FetchError: request to https://myqexternal.myqdevice.com/api/v4/User/Validate failed, reason: connect ETIMEDOUT 40.112.59.58:443
Nov  7 21:52:36 Shanghai homebridge[971]:     at ClientRequest.<anonymous> (/usr/local/lib/node_modules/homebridge-chamber

[2019-11-08 19:23] iRayanKhan commented on #73
Did you try Step 5 in the common issues page?

[2019-11-08 19:25] iRayanKhan commented on #60
To do this just clone the dev branch and paste the changed files over, or manually edit them. I'll merge this branch/Pull in tonight so it'll just be a simple ```sudo npm I -g homebridge-chamberlain```

[2019-11-08 19:27] mc-hamster commented on #73
Yes, my purely numerical ID to one starting with CG. I updated the config.json and still get the server error.

Also restarted homebridge after updating config.json.

[2019-11-10 20:29] iRayanKhan commented on #73
Try cleaning out your persist and cache files if tiu can and uninstall, and reinstall the plugin. Also are you using docker?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-10 20:30] iRayanKhan commented on #60
I’ll merge the pull in today so everyone can use it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-11 00:42] iRayanKhan commented on #60
I just published the patch and all should be good now, if anything else arrises re-open this issue.

[2019-11-11 00:42] #60 closed, assigned to iRayanKhan

[2019-11-11 18:29] mc-hamster commented on #73
That did it!

I deleted the persist and cache files, deleted homebridge from my home, restarted homebridge, re-added the bridge and now everything works again.

There was no need to uninstall/reinstall the plugin.

This is running on Ubuntu 18.04.3 LTS in a VM on ESXi.

[2019-11-11 21:00] iRayanKhan commented on #73
Glad it's working now; going to close this issue.

[2019-11-11 21:00] #73 closed, assigned to iRayanKhan

[2019-11-12 19:00] jfirwin opened #74 "Account Lockout"
# Explain the issue occuring:
I am using `homebridge-config-ui-x v4.6.3` to install this plugin. When I set it up and entered my account details it returned the logs stating that I was locked out, it continues to try to successfully access the api, but fails to do so. I uninstalled this plugin, reset my password, logged in on my phone to check that I was no longer locked out, and then tried once m

[2019-11-12 20:57] iRayanKhan commented on #74
Few Questions:
1) Can you use the normal app?
2) This may be a user agent change, but it works for me fine.

[2019-11-12 21:33] jfirwin commented on #74
I'm not sure exactly what happened. I'm setting up homebridge for the first time and just getting things started. I was having issues with the `MyQ2` plugin as well and after some resets and patience I got that plugin to work. When it failed it wasn't locking me out of my MyQ account and forcing password resets. I just wanted to bring attention to it in case it's related to the `homebridge-chamber

[2019-11-12 22:10] iRayanKhan commented on #74
It may be best doing a manual install. I've never seen this issue before and either the API didn't update your accounts info (which it should), or it's the plugin install. MyQ2 and this plugin rely on the same api.

[2019-11-13 15:37] jfirwin commented on #74
I'll test it out tonight, thanks!

[2019-11-17 00:01] iRayanKhan commented on #74
Hey @jfirwin, did you have time to test it out? If so, did it work?

[2019-11-17 03:57] fatal1010 opened #75 "ECONNRESET || No HomeKit Notifications on Status change"
Checking the logs, I see the following, is this a concern and what could be the cause?

0|homebrid | [11/17/2019, 00:54:28] [Garage Door] FetchError: request to https://api.myqdevice.com/api/v5/accounts/<Account_ID>/devices/<Device_ID> failed, reason: read ECONNRESET
0|homebrid |     at ClientRequest.<anonymous> (/usr/lib/node_modules/homebridge-chamberlain/node_modules/node-fetch/index.js:133:11)

[2019-11-18 19:26] iRayanKhan commented on #75
Is there a chance you may have mistyped your login info?

[2019-11-18 19:40] fatal1010 commented on #75
No, this is randomly scattered in the error log file, sometimes once a day, sometimes multiple times a day ... the std output has the normal garage state change log lines in it and the Home app opens/closes the garage as expected.

Don't know if this is an issue or not, just thought I'd point it out to you that my error log has these entries.

As a side note, I don't receive any Home app alerts an

[2019-11-18 20:37] jfirwin commented on #74
Yeah I reinstalled Homebridge and Homebridge config and was able to get the plugin working correctly. I don't know what the issue was but it doesn't seem like it was related to this plugin.

[2019-11-18 20:37] #74 closed, assigned to iRayanKhan

[2019-11-19 16:34] lherlitz opened #76 "No Response in HomeKit"
# Explain the issue occuring:
No Response

# Info
iOS Version: iOS 13.2
Plugin Version: 1.0.8
HomeBridge Version: 0.4.50

# Log Output:
[code]

[2019-11-20 00:00] iRayanKhan commented on #76
Could you paste your config with info redacted please? Also does this work Remotely or not at all? One last thing, what Hubs and what version are they on? Thanks!

[2019-11-20 00:02] iRayanKhan commented on #75
Is there a chance you may have enabled "DND" for the Home App? I did that once for messages on accident. In Settings > Notifications > Home it should show. It seems like since it's scattered the request just fails. Issue #51 had a similar issue, and an update fixed it. I'll keep track of this.

[2019-11-20 03:18] fatal1010 commented on #75
Hey, nope, nothing in listed under Settings -> Notification -> Home...chalk it up to random request failures.

[2019-11-20 10:12] xDiavelS commented on #75
I am also this exact same error message throughout my logs. Sometimes it happens multiple times in a row, other times it can be hours in between. The door still opens through HomeKit and Siri, so doesn't seem to be a major problem though.

[2019-11-20 20:29] spiezer commented on #76
I had the same issue and found out I was blocked from chamberlain's servers.  I wasn't able to access their site or the myq app.  Not sure if it's polling them too much

[2019-11-21 04:34] iRayanKhan commented on #75
If notifications never show, it means something is really wrong. If it was just a request failure, then the status would also not report in HomeKit. But since the Status does poll in HomeKit (As far as I can tell), it may be a Home App issue. Maybe re-adding the accessories may help?

[2019-11-21 04:38] iRayanKhan commented on #76
@spiezer, When I used Pi-Hole Statistics, MYQ was polled the most. In terms of why you were blocked may be due to them cracking down (hope not), or the password being entered wrong, or database migration fail, or anything at this point. Are you now able to use their app? If not, if you ever get the chance, can you make a new account and add your garages to them and see if it works?
Thanks.

[2019-11-21 04:48] spiezer commented on #76
It was working fine yesterday so I believe the entries were correct.  Looks like I can't access myq.com chamberlain.com, etc.  Works fine when I am not using my IP address so it looks like they IP banned me.  I'm still trying to figure out how to get unbanned but the customer service reps have no idea how to help me at the moment.  Unfortunately I'm on a provider that doesn't let me change the IP

[2019-11-21 04:56] lherlitz commented on #76
Using the myQ app works perfectly.  No idea how to tell hub type or version.

[code]

[2019-11-21 14:55] iRayanKhan commented on #76
@spiezer I wonder if the IP banning thing is also whats happening to @lherlitz. One other thing you can try @lherlitz, add the device ID to your config, and see if your providers lets you change IP's.

[2019-11-21 15:29] spiezer commented on #76
@iRayanKhan I don't think that's the case since his app is still working.  My app only works when I'm not connected to my IP address.

I just checked and I had another hub running a hook into MyQ.  That in conjunction with this hack might've triggered something on their end.  It was working great before I got banned though.

I found a piece of hardware on amazon that hooks into the garage door ope

[2019-11-21 22:26] lherlitz commented on #76
Yeah, I’m not ip blocked. My myQ app works perfectly. This is just happening with this plugin.

[2019-11-21 22:28] lherlitz commented on #76
How do I find my device id?

[2019-11-21 23:16] iRayanKhan commented on #76
@lherlitz When the plugin starts it should spit out a device ID if nothing is listed in the config. I'd recommend making a separate home bridge instance to do this (See Common Issues Wiki). Then adding that parameter to your config may make it work.

[2019-11-21 23:16] iRayanKhan commented on #76
Oops didn't mean to close.

[2019-11-23 08:10] epijimenez opened #77 "Error: No controllable devices found"
# Explain the issue occuring:
Error: No controllable devices found
at getDeviceList.then.devices (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:99:36)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:189:7)

# Expected Result
Find the home lock connected through the MyQ app

# Info
iOS Version: iOS 13
Plugin Version: homebridge-chamberlain@1.0.8
HomeBr

[2019-11-23 08:11] epijimenez commented on #77
PS. maybe this is a unexpected change, but I had lockitron (home lock) which the company was bought by MyQ/chamberlain and got thrown into the same group of devices.

[2019-11-23 18:02] iRayanKhan commented on #77
Hi @epijimenez. Currently this plugin is for garages only. If someone would like to make a PR and add lock support I would merge it in.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-23 23:43] jasontproject commented on #76
I have seen the same issue for a couple of weeks.
[code]

Node v9.11.2
├── homebridge@0.4.49
├── homebridge-chamberlain@1.0.5
├── homebridge-dummy@0.3.0
├── homebridge-ifttt@0.3.0
├── homebridge-platform-wemo@1.3.8
├── homebridge-wink3@2.1.0
└── npm@5.6.0

My config:
[code]

[2019-11-23 23:48] jasontproject commented on #76
I applied this patch and it fixed the problem: https://github.com/caseywebdev/homebridge-chamberlain/commit/07ca9bd30eb2d37a87780a6a4150a03cb73bc0a1#diff-e1d62d8c4965edf0e532dfa19da0891f

[2019-11-24 02:12] iRayanKhan commented on #76
The plugin was updated to add this patch, maybe your version was out of date?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-25 03:20] jasontproject commented on #76
I am on 1.0.5, this commit was added after. I typically stick to releases

[2019-11-27 02:24] lherlitz commented on #76
I’m not finding a device id anywhere

[2019-11-28 00:27] iRayanKhan commented on #76
My garages just went no response. Yikes. Looks like I gotta debug a lot now. API must have changed.

[2019-11-28 02:21] iRayanKhan commented on #76
@lherlitz if you don't get a device ID, it must mean you don't have an ethernet gate way (which you don't need and the plugin doesn't utilize).

[2019-11-28 02:30] iRayanKhan commented on #75
@kbardai In the Home App, top Left Corner (Home Image), tap "Home Settings", select your home, then go to "Notifications", then "Doors and Locks". See if they were disabled.

[2019-11-30 05:54] fatal1010 commented on #75
The "Doors and Locks" notification is enabled.  I've tried turning it off and on again but the notifications are very sporadic, sometimes I get notifications/sometimes none.

I'll try your suggestion of removing homebridge and re-adding to see if that helps...dunno if I need to go all nuclear and clear accessories/cache from homebridge as well, maybe as last resort.

[2019-12-02 17:44] iRayanKhan commented on #75
Hey @kbardai did anything work so far?

[2019-12-02 18:01] iRayanKhan commented on #77
@epijimenez I feel like taking a crack at this, I need some info about the locks that may be private, so if you would like to email me @ rayankhan04 [@] iCloud.com I can get some more info and see what I can get going with this.

[2019-12-03 04:49] fatal1010 commented on #75
Hey,

Removed and re-added homebridge from home app, no success...still sporadic notifications for garage.
Removed accessories/persit, removed homebridge from home app, restarted, re-added homebridge to homeapp, setup all accessories again (PITA), still no success, sporadic notifications.

Imma chalk it up to iOS13 issues?

Edit: to clarify, garage is the only notification I have setup in Home app

[2019-12-04 00:52] DMBlakeley commented on #75
I am seeing the same behavior, same iOS revision, random in occurrence. Just updated to nom version 6.13.2 and will monitor.

[2019-12-06 03:10] fatal1010 commented on #75
Just installed the Schlage Sense door (HomKit) and get alerts consistently and almost instantly (whether manually unlocking or through homekit or schlage app)...dunno why garage alerts are a hit/miss :/

Edit: to add, sometimes I get notifications when I open the Home App, notifications that should have gotten hour+ ago/etc.

Edit2:
https://github.com/KhaosT/HAP-NodeJS/issues/543
https://github.co

[2019-12-06 23:03] seldridge1 commented on #75
I’m also having similar results re: status change notifications. Would estimate I’m only receiving a notification about 10% of the time the door is opened or closed whether I’m on WiFi or cellular.

[2019-12-07 16:13] fatal1010 commented on #75
Here are some debug log info when I opened/closed the garage...received no notifications on any device. The IPs listed below are homepods and/or iphones/macbook.  Also, let me know if this is getting off topic from the original post I made.

`Accessory [Homebridge] Processing characteristic set: [{"aid":2,"iid":10,"ev":true},{"aid":2,"iid":11,"ev":true}] +0ms
  Accessory [Homebridge] Registering C

[2019-12-08 07:02] iRayanKhan commented on #75
Personally I'm a few revisions behind of this plugin on my main setup since it works for me (pretty sure it goes as far as the last V4 Api version I updated) so I can try this version with the V5 Api and see if there's more to it.

[2019-12-12 18:20] ahnyerkeester opened #78 "Remote Lighting Control Support"
My MyQ garage door opener came with two remote lighting controllers which I use in my living room. The garage door opener is the hub for them. Is there a way to add them to Homebridge along with the garage door opener? I used to have access via a different Homebridge plug in but I believe the API changed and it never got updated.

[2019-12-12 19:09] iRayanKhan commented on #78
Hi @ahnyerkeester there is an open issue to support locks currently, I’ll see if I can add these lights too. Can you please find the plugin that was able to this, as it would help tremendously.  Thanks, Rayan.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-12 19:55] ahnyerkeester commented on #78
Awesome, Thanks Rayan.

[2019-12-14 08:22] twentyNoise commented on #75
These are all the same issues I’ve been seeing since I installed this plugin a few years back. It may be worse in iOS 13 but always been an issue. I first posted about it here: https://github.com/caseywebdev/homebridge-chamberlain/issues/40

Been trying to get to the bottom of it for a while.

[2019-12-20 11:32] joker1138 commented on #75
Same issues, same iOS.  Usually early in the morning will get the error in home bridge.  On Homekit, if I press all the items that are "no response", they eventually reconnect.  Of course, restarting home bridge clears everything up.

[2019-12-22 00:24] Onyx808 opened #79 "Stuck on homebridge-chamberlain@1.0.2"
# Explain the issue occurring:
Running 'npm update homebridge-chamberlain' nothing happens.

# Expected Result
update the software

# Info
iOS Version:
Plugin Version:1.0.2
HomeBridge Version:0.4.45
Node/Npm Version: 6.13.4

[2019-12-22 00:30] Onyx808 commented on #79
got it to work.

[2019-12-22 00:30] #79 closed, assigned to nobody

[2019-12-24 03:38] timgris opened #80 "HTTP 500"
# Explain the issue occuring:
This is my first plugin for homebridge. I am getting an error 500:
Error: invalid response, got HTTP 500: {"code":"500.000","message":"An error occurred while processing the request.","description":"Server Error"}
    at /usr/lib/node_modules/homebridge-chamberlain/src/api.js:27:15
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/t

[2019-12-24 18:02] timgris commented on #80
I am pretty sure this is PEBCAK.  I do have multiple devices and am used to a single-digit device ID from my openhab time.  However, when I remove the deviceID to find the device IDs, I see a longer string.  Switching to that it appears to have removed the error.  On to the next step.

[2019-12-24 18:02] #80 closed, assigned to nobody

[2019-12-25 19:53] hepcat72 commented on #75
I have the same log errors, however I disabled the notifications (they're reliable from the MyQ app). I ended up here to figure out what I needed to do to quiet the errors.

[2019-12-29 17:48] ServusNL commented on #76
Mine is also showing "no response" :( anyway I can help to debug? I only have one device and I'm on the latest version.

[2019-12-29 19:45] iRayanKhan commented on #76
I’m looking more into this. If you want to debug, run homebridge with the -D flag and copy and paste the instance messages.

Sent from my iPhone

[2019-12-30 00:24] Onyx808 commented on #76
I ran with he -D flag and all I got was:

`[garage door] desireddoorstate changed from closed to open`

Homekit shows "opening..." but nothing happens =(

[2019-12-30 07:43] iRayanKhan commented on #75
Seeing as this is becoming more widespread and splitting into more issues here's what I propose:

For the lack of notifications can you please confirm the following:
- Notifications aren't silenced by iOS:
``` Settings -> Notifications -> Home```
Ensure everything is as expected, and there is a special tab in blue text called "Home Notification Settings), make sure your Doors, Locks, Windows, and

[2019-12-30 07:46] iRayanKhan commented on #76
@Onyx808 Is there any chance you could clear Persist and Cache? It will mean having to re-add home bridge. If not due to having automations, multiple plugins in an instance, etc, let me know and I know another way.

Also this happened earlier, but is there a chance your MyQ account was locked?
An issue posted earlier was where someones account was locked by MyQ due to constant polling, another fix

[2019-12-30 07:47] iRayanKhan commented on #77
Hi @epijimenez I didn't hear back, if you'd like this implemented please email me at the given email, I need more info before I can dig into this.

Closing for now.

[2019-12-30 07:47] #77 closed, assigned to iRayanKhan

[2019-12-30 07:49] iRayanKhan commented on #78
Anytime, @ahnyerkeester.

So this got some attention on Reddit, I would like some info to start being able to do this.

I need multiple people, or someone with two or more light controllers, to email me the device ID's to see if I can spot a consistent pattern, to distinguish the light V garage.

my email is rayankhan04 [@] iCloud .com

[2019-12-31 00:24] Onyx808 commented on #76
I tried rebooting, removing the persist folder, removing the accessory from home kit and reading it, removing all other plugins, and just left home bridge chamberlain and still same thing... I give up.

[2019-12-31 18:21] ahnyerkeester commented on #78
Sending mine along.

[2019-12-31 21:13] ahnyerkeester commented on #78
Okay, I know I located them before but I can't recall how. Googling answers doesn't really help either. What's the easiest way to get my device IDs?

[2020-01-01 00:43] epijimenez commented on #77
Sorry Ryan. I’ve moved to another lock solution and I tried to set up a new account so you can do as you please without any privacy issues, but a family member gave away the lock already.

Thanks for trying. 👍

[2020-01-03 02:00] Ghazgkull commented on #80
I just got this same error on my install which had been working for months with no changes. I suspect there may have been a breaking change to the service?

[2020-01-03 02:08] Ghazgkull commented on #80
Sure enough. It looks like the deviceId from Chamberlain changed. To fix the problem, I renamed the "deviceId" property in the config.json to some dummy key (e.g. "deviceIdOld"), restarted homebridge (systemctl restart homebridge) and then looked in the logs to get the updated device Id.

[2020-01-03 03:04] iRayanKhan commented on #78
Hi @ahnyerkeester look at how to generate device ID's here: (This shouldn't effect current install)
[Check Step 5 here](https://github.com/caseywebdev/homebridge-chamberlain/wiki/Common-Issues)

[2020-01-03 23:52] ahnyerkeester commented on #78
Thank you @iRayanKhan , the IDs are on their way!

In case anyone else wants to do this and is using HOOBS, here's how to make it work:

When it says "Make a new config.json file with just this plugin in the config and device id's blank." what you need to do is copy the `Server`, `Client`, and `Bridge` portion of `~/.hoobs/etc/config.json` and paste that into the new json. Then add this section:

[2020-01-04 06:45] iRayanKhan commented on #76
@Onyx808 Are you willing to try one last thing? iirc I am using the v4Api Branch as that works for me. If that doesn't work it seems your account may have been banned by chamberlain, and making a new one fixes it.
If anyone needs help installing this plugin, but not the latest version please tag me.

[2020-01-05 00:45] Onyx808 commented on #76
The myq app works fine, is there a way to send the command via command line and retrieve the error messages?

[2020-01-07 19:26] iRayanKhan commented on #76
@Onyx808 Not at the moment, there is a home bridge doorbell plugin if you don't mind installing, see if the notifications can trigger from it, it supports command line triggering and triggers a fake ring every time the plugin loads.
[Plugin Link](https://github.com/Samfox2/homebridge-doorbell)

[2020-01-08 16:46] hepcat72 commented on #75
It may take awhile to get the error, so it's not like I can stop homebridge, and manually run that on the command line and see the error.  I've been wanting to regularly run homebridge with the -D flag for awhile for other reasons, but if you run homebridge using pm2, like me, I don't know how to supply that flag and have the process managed (i.e. restart if it quits, start up on boot, etc).  I wo

[2020-01-09 04:31] dqtech commented on #75
I have the same ECONNRESET issue and also experience sporadic HomeKit Notifications when opening and closing the garage door.

**IOS Home App Notifications:**
Using iOS 13.2.2. I checked this an I have notifications enabled for the garage door. I also have a Schlage Sense Lock and it notifies me consistently. The big difference here is the lock is native HomeKit compatible and not using homebridge

[2020-01-09 19:35] iRayanKhan commented on #75
Two things I can think of at the moment.
(Please read the whole thing before doing any of this as there's multiple workarounds for each workaround.)
When I get home I will supply the version of the plugin I am using for my main setup.
The fact it works on iOS furthers my theory about HomeKit no response issues.

If possible, clear Persist and cachedAccessories, unpair bridge from HomeKit, make a n

[2020-01-09 19:37] iRayanKhan commented on #75
Thanks for the logs @dqtech I noticed that you have homebridge-tplink-smarthome, I have this plugin too and you have to declare something for that plugin or this method to add a new homebridge instance won't work. I have a config just for this I will send in 4 or so hours.

I am doing more research on ECONNRESET, but since it's not that major as compared to Garage notification states, the priority

[2020-01-09 19:46] iRayanKhan commented on #75
Hey @hepcat72, thanks for the reply.

I also run PM2 on my environment too, I managed to get pm2 to run homebridge using the -U flag (specified folder), using a shell script to start PM2 in that certain instance, I'll send the file (it's 2 lines long), and how to have PM2 use the ```-D``` Flag. I know the ```-U``` flag works, ```-D``` should too.

[2020-01-10 16:42] rajbala commented on #75
I also have the ECONNRESET issues sporadically through the logs.

[code]

I am running Homebridge in a Docker container on a RPi4 with 4GB of RAM.  Happy to help debug this if I can.

[2020-01-10 21:55] iRayanKhan commented on #75
So I was working on some tweaks for this plugin to make getting the version info and such easier, anyways I am using V1.0.6 of the plugin. I will upgrade to V1.0.8 and get back with y'all tonight and see if notifications work.

Also thank you everyone for replying and providing logs and such I appreciate it a lot.

I am hoping to have this issue resolved within a week, it also seems to be non-seve

[2020-01-15 04:45] iRayanKhan commented on #75
Has anyone tried making a new Home and trying notifications?

[2020-01-15 15:19] DMBlakeley commented on #75
If you startup Homebridge without defining a "deviceID" in the config.json file you receive an error "Multiple controllable devices found". In my case with 1 garage door opener 2 devices are reported. Both seem to work although one is shown in the "myQ" app on my iPhone. I was using the second device reported and receiving the errors previously reported. Have now switched to the first device repor

[2020-01-15 15:31] DMBlakeley commented on #75
No luck ... already received following error with alternate deviceID:
[code]

[2020-01-15 19:20] iRayanKhan commented on #75
So to confirm for everyone; is econnreset just a warning that a request failed, but then it re-requests and starts responding in HomeKit, or complete no response 100% api fails?

[2020-01-15 23:30] seldridge1 commented on #75
@iRayanKhan, the former is my experience.

[2020-01-15 23:43] DMBlakeley commented on #75
@iRayanKhan request that fails and then re-requests. API does not fail.

[2020-01-16 22:35] madmattd commented on #75
@iRayanKhan For me, it would work for a while, then drop out, but it seemed to take too long to come back up. Did some searching and poking, looks like updating the api.js from ApiVersion: '4.1', to ApiVersion: '5.1', might resolve this.

**Change:**
const req = ({body, headers, method, pathname, query}) =>
  fetch(url.format({host, pathname, protocol, query}), {
    body: body == null ? body : JS

[2020-01-16 23:37] madmattd commented on #75
spoke too soon, just got the ECONNRESET error again.

[2020-01-19 23:37] DMBlakeley commented on #75
Have been searching other posts on this problem and wonder if the SecurityToken is expiring between polls of MyQ?

Reference this [posting](https://github.com/arraylabs/pymyq/issues/22#issuecomment-518861064). Believe current implementation of home bridge-chamberlain is consistent but don't know the answer to the SecurityToken.

Also learned from a discussion on [stackoverflow.com](https://stackov

[2020-01-20 17:32] donavanbecker opened #81 "Feature Inquiry: Garage Door Opener Light"
# Explain the feature you want added
(Give a description of the feature you want added.)

I am guessing not, but figured i would ask. Is there a way to control the light on the garage door opener? or are chamberlain openers not made that way?

[2020-01-21 15:28] iRayanKhan commented on #81
Duplicate of #78, but I am looking into it right now and have some work done. If you get extra device ID's for your garage door, then it will work (not ethernet gateway), but the chamberlain light controller kit is what I'm tryna get to work along with door locks.

[2020-01-21 15:28] #81 closed, assigned to iRayanKhan

[2020-01-21 15:32] iRayanKhan commented on #75
@DMBlakeley very helpful, thank you for that info.
I guess there was more to the V5 Api upgrade than we thought... Working on a fix, but if anyone can reverse the API again for me and see if it accepts any new user-agents or other info please tag me.

[2020-01-22 02:25] Handcuffsofgold opened #82 "EAI_AGAIN error with MyQ API"
# Explain the issue occuring:
Plugin seems to be failing when trying to connect to the MyQ API. Accordingly, control of MyQ via Homekit won't work - sending open/close requests results in no activity.

# Expected Result
Open/close happening when requested via Homekit

# Info
iOS Version: 13
Plugin Version: 1.0.8
HomeBridge Version: 0.4.50
Node/Npm Version: Node.js Version | v10.15.3 / Npm version

[2020-01-22 02:36] Handcuffsofgold commented on #82
Updated my docker container and the problem is gone, so no issue with the plugin. Closing the issue.

[2020-01-22 02:36] #82 closed, assigned to nobody

[2020-01-23 00:14] sebastienb opened #83 "Homebridge can't connect to garage door -- invalid response, got HTTP 500"
# Explain the issue occuring:
No response in Home app  and on homebridge console i'm getting this error over and over.
[code]
# Expected Result
(Give a description of the expected behaviour.)

# Info
iOS Version:
Plugin Version: homebridge-chamberlain v1.0.8
HomeBridge Version: 0.4.50
Node/Npm Version: v12.14.1

# Log Output:
(If applicable)

[2020-01-23 03:19] iRayanKhan commented on #83
Are you on the latest version of the plugin?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 03:58] sebastienb commented on #83
yes I'm on v1.0.8

[2020-01-23 04:08] sebastienb commented on #83
Got it to work, my device ID changed. It was working for a while now and recently stoped working.

## How i solved it
- removed device id
- restarted homebridge
- got new ID

Thanks

[2020-01-23 04:08] #83 closed, assigned to iRayanKhan

[2020-01-24 18:26] vipulgarg5 commented on #33
Where do you find the device id's. I have two garage doors but don't see the device id.

[2020-01-25 05:03] iRayanKhan commented on #33
@vipulgarg5 Running HomeBridge with no device id’s in your config, spits out the device ID’s.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-25 16:41] ralstonr opened #84 "500 error"
# Explain the issue occuring:
Getting error 500 in the log with a set-up that has been working.

# Expected Result
(Give a description of the expected behaviour.)

# Info
iOS Version:N/A
Plugin Version: homebridge-chamberlain v1.0.8
HomeBridge Version: 0.4.50
Node/Npm Version: v10.16.0/v6.9.0

# Log Output:
[1/25/2020, 11:34:26 AM] [number1 Garage Door] Error: invalid response, got HTTP 500: {"cod

[2020-01-25 23:42] iRayanKhan commented on #84
Hi there,
Do you mind removing the ```"DeviceID"``` field from your config?
Restarting homebridge will give you a new device ID, and re-enter the working one into your config.

[2020-01-25 23:53] ralstonr commented on #84
That fixed it, thank you!

[2020-01-25 23:53] #84 closed, assigned to nobody

[2020-01-29 22:24] fatal1010 commented on #75
@iRayanKhan

Below is to try to resolve notifications issue, as you said, the econnreset is minor.

on iOS/HomeApp - All my notifications are on/active (not silenced)
Node  v12.14.0
npm v6.13.4
homebridge v0.4.5
iOS v13.3.1 (same on homepods)

Running homebridge in debug mode doesn't give any additional information...during this test I did not receive any notifications on any devices.

`pi@raspber

[2020-01-30 20:15] iRayanKhan commented on #76
Closing for inactivity, if you are still having this issue make a new one or ping me to re-open this one.

[2020-01-30 20:15] #76 closed, assigned to iRayanKhan

[2020-01-30 20:18] iRayanKhan commented on #75
I can look into this, but the main issue is it works for me, and I can't test to see if it work for y'all.
If anyone is willing to run their chamberlain instance on another Pi (I have one someone can connect to), and see if a fresh install fixes it, then we can try that.

Edit:

Only reason I mention running it on another Pi, is to see if something is cached from your homebridge instance on your d

[2020-01-30 20:42] DMBlakeley commented on #75
I was reviewing the posted article that I referenced above and believe that there may be an error in api.js, line 140. I changed from:

`pathname: '/api/v5/accounts/' + AccountId + '/devices/' + MyQDeviceId,`

to:

`pathname: '/api/v5.1/Accounts/' + AccountId + '/devices/' + MyQDeviceId,`

Note the capitalization of “Accounts”. I have only been running now for a few hours without error but the err

[2020-01-31 07:55] jsrivatsan commented on #75
I have the same issues with inconsistent notifications and ECONNRESET errors in the log file. I am running homebridge on rpi 3B. I will send you the logs and environment info tomorrow.

[2020-01-31 14:56] iRayanKhan commented on #75
@DMBlakeley Thanks for the update.

I currently don't have a phone to add my Garages to HomeKit in, would anyone be willing to try untested changes this weekend?

[2020-01-31 15:06] iRayanKhan commented on #75
I also had one other thing,
If you can, make a new HomeKit home, and add your garages to it and see if you get the notifications.
Also, if possible, running this plugin on a new device (no prior files), and in a new HomeKit home would eliminate this being a Home app issue.

[2020-01-31 18:04] iRayanKhan commented on #78
Hi, I have some progress on light controller support.
This update (may) break current installations as you have to add a new parameter to your config.
I will have something concrete published tomorrow, follow the Light_Controller branch. I don't have any light controllers to test, so please be advised that I rely heavily on testers.

[2020-01-31 21:28] ahnyerkeester commented on #78
Standing by to test!

[2020-01-31 21:36] iRayanKhan commented on #78
Sweet, in the mean time do you know how to make a new Homebridge instance, and also it's recommended to make a new HomeKit home for this too

[2020-01-31 22:16] ahnyerkeester commented on #78
I don't know how to do that. I was just planning on testing it in my current setup. I figured I can always fall back to the latest version of the plug in.

[2020-01-31 23:22] iRayanKhan commented on #78
Yeah you always could, just wanted to make sure nothing gets messed up in the process.
You are running off a Pi correct?

[2020-02-01 01:41] ahnyerkeester commented on #78
I am now on a Mac Mini because the RPI couldn't handle Time Machine backups. But I still have the RPI set up and can use it as a test bed.

[2020-02-01 03:19] iRayanKhan commented on #78
Hey @ahnyerkeester I have pushed some changed to the light_controller branch.
There is a new parameter to the config.json file so be advised to add that. Here is an example of it:
[code]

Please let me know if it works, thanks!

Edit:
I didn't have to specify the ```isLight``` parameter for my existing garage doors, so you only need to add that snippet of the config for a new light accessory and n

[2020-02-01 16:58] ahnyerkeester commented on #78
I'm having a hard time downloading that specific branch. Still working on it.

[2020-02-01 17:49] iRayanKhan commented on #78
Hi @ahnyerkeester try this:
```npm install — save homebridge-chamberlain@beta.```
additionally, if you wish to test obstruction detection, change the @ to alpha.

Edit: Alpha and Beta is now published.

Alpha - Light_Controller & Obstruction_Detection
Beta   - Light_Controller (Only)

[2020-02-03 04:37] iRayanKhan commented on #78
Hey @ahnyerkeester, did it work for you? If so I'm ready to merge

[2020-02-03 15:27] ahnyerkeester commented on #78
I'm not sure that it installed correctly. When I added a light, it showed up as a garage door and didn't control the light. Then again, I'm running it on HOOBS. I'm going to try to set up another RPI with Homebridge and try it again, but I'm going out of town this week so I won't be able to do it right away.

[2020-02-03 19:15] iRayanKhan commented on #78
I think HOOBS may be the issue too.
I wrote in the plugin form to HOOBS yesterday, to prepare for a plugin breaking update and to locate the new config in the branches. So I guess either they updated it and are waiting for V2.0 to come out, or didn't update it yet.

Also clear cachedAccessories when you update.

[2020-02-06 06:49] iRayanKhan commented on #75
Has anyone had a chance to try the suggestions above?
I am eager to resolve this issue asap to ensure a smooth transition to 5.1.

[2020-02-06 19:56] DMBlakeley commented on #75
I have been experiencing connection issues with this app as well as the Ring and Alarm.com plug-ins so I did not rush to do additional tests. Noticed today that Node.js was updated to v12.15.0 and have updated my configuration to see if there are any changes in behavior.

UPDATE - didn't take long to get the ECONNRESET error from the `getDeviceAttribute(options = {})` routine.

[2020-02-06 21:35] jsrivatsan commented on #75
I tried making a new home and adding this plugin. I have been testing this setup for the past two days and the inconsistency is still there. I have not tested on a different device yet. I need to convince my wife on using her device and I have not had much success there :-(

[2020-02-09 21:40] DMBlakeley commented on #75
I have been looking into the "Fetcherror" and "ECONNRESET" errors which I have been getting from this plugin.

I compared the routines in the api.js routine to other implementation of myQ including a recent one that I found which controlled the garage door through a Shortcut on my iPhone. The implementation of checking status, opening, and closing the door were pretty consistent other than the que

[2020-02-10 13:02] DMBlakeley commented on #75
Received an error after about three 36 hours. Bumped from 11 to 12 on the iDLE_DELAY. Can't seem to find any details on minimum poll time for api.myqdevice.com.

Looks like I must have just been lucky. Changed multiplier to 12 then 13. Both produced errors. Suppose I was a bit optimistic.

[2020-02-11 00:43] ahnyerkeester commented on #78
Sorry that took so long. I did a clean install of Homebridge on a clean install of Raspbian and tried it. The switch shows up but it doesn't seem to do anything. Tried different device IDs. No change.

[2020-02-12 05:10] iRayanKhan commented on #75
Thanks for investigate work @DMBlakeley.

I did a fresh install (was forced) and now notifications are broken for me too. I still get them, I just have to open the home app, or sometimes they don't deliver.

I wonder if it is a dependancy issue, or iOS 13. Maybe even this ECONNRESET issue.

Is there a chance setting the delay to *15 or even *20 fix it? When using the shortcut does it limit polls o

[2020-02-12 12:58] DMBlakeley commented on #75
I did try *15 and even *20. Both resulted in errors. Seemed to go a bit crazy yesterday getting 20+ errors in an hour when I changed the multiplier back to *11.

Yesterday I found this reference on [openHAB](https://www.openhab.org/v2.5/addons/bindings/myq1/) for myQ which indicates that "refresh" should be set at "60000" and "quick refresh" after an event is triggered should be set to "2000". Thi

[2020-02-13 13:03] DMBlakeley commented on #75
Over 36 hours with multiplier at *60 and no FetchError from Chamberlain plugin. Have noticed that change in state (closed-opening-open) are not necessarily logged realtime when door is opened manually through wall button or Home connect in car. Will try reducing multiplier in *10 increments to see when errors start occurring.

UPDATE: Back to *60 and monitoring for errors. Didn't take long at *50

[2020-02-14 22:30] DMBlakeley commented on #75
I have posted a pull request to api.js which I believe addresses this issue. I found that the header for requests to api.myqdevice.com may have not been formatted correctly.

I am not a programmer by profession but I did notice that the header was different when compared to the [homebridge-myq2](https://github.com/hjdhjd/homebridge-myq2) plugin. I have used an IDLE_DELAY multiplier of *30 and *15

[2020-02-15 02:17] DMBlakeley commented on #75
Withdrew pull request as not 100% effective. Due to randomness of occurrence wonder if error is a result of 2 apps submitting a status request at some time. As noted above, Homebridge, MyQ app and Amazon Key app all poll MyQ through my account.

[2020-02-15 03:13] iRayanKhan commented on #78
Is there anything from the debug?

[2020-02-15 03:18] iRayanKhan commented on #75
I'm going to try your PR tomorrow. I am installing a door lock tomorrow morning in the Garage, and want it to where it unlocks when the garage door opens, update statuses are not consistent for me currently, and notifications have broken for me too.

Edit:
I only use this plugin to control these devices, so maybe it could work or me since no other app would be polling.

[2020-02-15 14:27] DMBlakeley commented on #75
I am continuing to run the patch with IDLE_DELAY multiplier at *30.

UPDATE: Have been running a couple of days now with the patch and *30 multiplier and have 1 error per day which is a significant reduction *30 multiplier is also sufficient to pick up requested changes in door state.

[2020-02-15 18:21] ahnyerkeester commented on #78
From the log. After I push the button, this error happens and the service restates.

`[2/15/2020, 18:14:42] TypeError: this.api.setDeviceAttribute is not a function
    at module.exports.setTargetLightState (/usr/lib/node_modules/homebridge-chamberlain/src/chamberlain-accessory.js:136:21)`
`    at Characteristic.On.emit (events.js:223:5)`
`    at Characteristic.On.Characteristic.setValue (/usr/lib

[2020-02-18 03:12] fatal1010 commented on #75
@iRayanKhan moved from homebridge install on rpi4 to HOOBS on ubuntu server...installed the plugin (listed as hoobs certified) and still very sporadic notifications with a brand new install.  I added it to existing home, not a new home.

As for the idle_delay, if you do increase the multiplier, please make it configurable.

[2020-02-18 06:52] iRayanKhan commented on #78
Let me do some more digging, hope to get this fixed this week.

[2020-02-21 22:18] tarbychark opened #86 "Syntax Error: Unexpected Token"
Garage Door has no response in HomeKit and home bridge logs continuously throw this error:

send hb to: 0x0000000007de35a9
connection brokenfalse
null
[2/21/2020, 5:13:08 PM] [Garage Door] SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at fetch.then.then.data (/usr/local/lib/node_modules/homebridge-chamberlain/src/api.js:33:19)
    at process._tickCallbac

[2020-02-22 01:55] tarbychark commented on #86
Ended up with an account lockout issue. Changing the password resolved it. Closing issue.

[2020-02-23 20:56] tarbychark commented on #86
Reopening, because I’m getting the same error again out of the blue after changing the MyQ password.

[2020-02-23 21:04] inforatio opened #87 "Chamberlin Secure Video"
The newest Chamberlin openers provide for support "Secure Video" in addition to remote opening/closing using MyQ. Can you update your plug-in to support this new feature so that users don't have to go back and forth between apps? And all functionality can be accesses through Apple Home?

https://www.chamberlain.com/garage-door-openers/secure-view-camera-opener

[2020-02-23 21:33] tarbychark commented on #86
Ok, I figured it out for real this time. Whenever I connect to a non-US VPN on my homebridge server, I get the token error and eventually that leads to an account lockout from Chamberlain. US VPN, no issues. Closing it out again.

[2020-02-23 21:33] #86 closed, assigned to iRayanKhan

[2020-02-25 19:37] iRayanKhan commented on #87
Wow, I had no idea they made this.
Did this come with your home or did you buy it?

Also, I don't know if I can integrate this with my plugin. Do you get any deviceID's for this camera by chance?

[2020-02-25 19:57] iRayanKhan commented on #78
So does the Switch actually show up in HomeKit, or is it showing up as a light?

[2020-02-25 19:58] iRayanKhan commented on #75
I will push a release soon to set the ```idle_delay``` via config.

[2020-02-25 20:39] inforatio commented on #87
I’m having it installed in a couple of weeks. I can look into your questions, though.

D

[2020-02-25 23:12] iRayanKhan commented on #87
Thanks for the info, I don't know if the api will produce keys which is why I was asking.

Even if it did give the keys, I'd have to reformat a lot of this plugin and add ffmpeg support.
I also wonder if the camera depending on their definition of "secure", if the camera can only be accessed from their own app.

[2020-02-26 14:58] iRayanKhan commented on #87
If the "api" we are using for this plugin doesn't get camera feed, I wonder if there's a way to get an RTSP stream from it, then hope homebridge-camera-ffmpeg adds HKSV soon.

[2020-02-26 20:44] inforatio commented on #87
I’m actually surprised Chamberlin provides an api. I tried talking with tech support, but they are clueless. They just told me that Chamberlin only works with partner apps.

At the current time, I’m not aware of any integrations with Nest, or anything like that that are using the camera feed. But, that might change. And, if it does. They would have to provide a device ID.

Best,
David

[2020-02-27 19:17] iRayanKhan commented on #87
Yeah it's not really an official API that this plugin uses. Camera feed may be difficult as we'd need an RTSP url.

[2020-02-27 21:12] ahnyerkeester commented on #78
It shows up in HomeKit as a switch. Every time I press it, it generates the same error as above and restarts Homebridge. Doesn't change the light.

[2020-03-11 00:30] TheEngineerGuy commented on #75
Hi guys, thinking about this plugin. Do we know if this issue has been resolved? @iRayanKhan

[2020-03-15 20:13] iRayanKhan commented on #78
Sorry for delayed response, I think I forgot to commit some changes that added the set function. I will do another beta soon. Eta 1 or 2 days.

[2020-03-15 20:19] iRayanKhan commented on #75
Hi @TheEngineerGuy,
So I will leave it up to the user to decide how long the idle_delay should be as suggested by @kbardai.
I am looking for other plugins that may use another approach to get status from Chamberlain, but no dice so far. Expect a beta in 2 or 3 days.

[2020-03-15 22:20] iRayanKhan commented on #78
I made a [new](https://github.com/iRayanKhan/homebridge-chamberlain/tree/new_Light_Controller) branch here. It should work now (I hope). Let me know if you need this published to NPM. Also I recommend not using HOOBS with this beta due to version conflicts.

[2020-03-15 23:18] DMBlakeley commented on #75
I did quite a bit of investigation and your implementation was consistent with them. Have multiplier at *30 and still get an occasional error about once per day.

[2020-03-15 23:20] ahnyerkeester commented on #78
Same error as above. Still no affect on the light.

[2020-03-15 23:28] TheEngineerGuy commented on #75
Thanks @iRayanKhan Looking forward to the Beta. Yes, for now we can set it configurable with default value of *30 as @DMBlakeley suggests.

[2020-03-16 00:13] iRayanKhan commented on #78
Oops, had it commented out xD
I just fixed it, try git cloning it again please.

[2020-03-16 13:30] johnsills1 commented on #78
Please post it to npm and let us know the name you use

[2020-03-16 15:18] ahnyerkeester commented on #78
Now I'm getting a very odd failure when I try to install it:
`pi@raspberrypi:~ $ sudo npm install -save homebridge-chamberlain@beta`
`npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EAI_AGAIN: request to https://registry.npmjs.org/homebridge-chamberlain failed, reason: getaddrinfo EAI_AGAIN registry.npmjs.org`
`npm WARN registry Using stale data from htt

[2020-03-16 18:46] iRayanKhan commented on #78
Yeah this release isn't tagged ```@beta```, I have to use a new tag every time. I will publish a new beta and list the new naming convention once it's published.

[2020-03-16 19:10] ahnyerkeester commented on #78
That makes a lot of sense. I'll be watching.

[2020-03-16 20:37] iRayanKhan commented on #78
Just Published, use the tag ```@rc1``` and see if that works.

[2020-03-16 22:47] ahnyerkeester commented on #78
Still didn't work:

`pi@raspberrypi:~ $ sudo npm install -save homebridge-chamberlain@rc1`
`npm ERR! code ETARGET`
`npm ERR! notarget No matching version found for homebridge-chamberlain@rc1.`
`npm ERR! notarget In most cases you or one of your dependencies are requesting`
`npm ERR! notarget a package version that doesn't exist.`

`npm ERR! A complete log of this run can be found in:`
`npm ERR!

[2020-03-17 03:21] iRayanKhan commented on #78
do ```sudo npm I -g homebridge-chamberlain@rc1```

[2020-03-17 03:56] ahnyerkeester commented on #78
Did `sudo npm install -g homebridge-chamberlain@rc1` and got the same result. Doing `sudo npm I` was an invalid option.

[2020-03-17 04:10] iRayanKhan commented on #78
I think since the repo transferred I have to update the package.json. Give me a few minutes

[2020-03-17 04:36] iRayanKhan commented on #78
try ```@rc2```

[2020-03-17 05:53] ahnyerkeester commented on #78
Installs perfectly. Now it generates this error:

[code]

[2020-03-17 05:55] ahnyerkeester commented on #78
Sorry, I clicked the wrong button and closed the issue!

[2020-03-17 07:07] iRayanKhan commented on #78
Had me excited, thought I fixed it xD.
I think forgot to lint my code, simple fix.
I'll do it in the morning and ship rc 3. Thanks for the testing and sorry for the delay.

[2020-03-17 07:58] iRayanKhan commented on #87
Hi @inforatio were you able to get these installed yet by chance?

[2020-03-17 09:51] inforatio commented on #87
No, everything is on hold, as I can’t even get my installer to come by now. At any rate, I was thinking, could you also use the widely held FFmpeg Homebridge plug-in with this solution?

[2020-03-17 13:56] iRayanKhan commented on #87
I was going to say that, but if these openers don't have an RTSP stream, there's nothing we can do. If does have RTSP, then that ffmpeg plugin was meant for this.

[2020-03-17 19:38] fatal1010 commented on #75
@iRayanKhan
Getting the status is fine, I think the econnreset is a minor issue...but something is up with homebridge (or hap) and iOS 13.3+ and notifications...native homekit locks/devices send notifications as expected.

I finally gave up on myQ/homebridge for my garage and bought a iSmartGate from amazon...installed it this morning and haven't missed a notification yet for any open/close events

[2020-03-17 19:43] fatal1010 commented on #75
@iRayanKhan if you are also having the notification issue, have you looked into my previous posts/links suggesting to use updateValue instead of setValue?

https://github.com/KhaosT/HAP-NodeJS/issues/543
https://github.com/nfarina/homebridge/issues/2160

[2020-03-18 23:24] DMBlakeley commented on #75
I could only find one location that "setValue" was used. This was line 81 of src/chamberlain-accessory.js. I have changed this to "updateValue" and monitor for any additional occurrences of the error. I have observed no issues with garage door operation with this change.

[2020-03-19 08:14] iRayanKhan commented on #78
Try ```@rc3``` please.

Edit: I had to install suing: sudo npm i -g homebridge-chamberlain@1.3.1

maybe that will work. The plugin runs fine for me. Also I may need to change one last thing if this thing doesn't work.

[2020-03-19 14:37] ahnyerkeester commented on #78
The `@1.3.1` worked.
Shows up as a switch but when I click it, I get this error and then Homebridge restarts:
[code]

[2020-03-19 17:13] iRayanKhan commented on #78
Just published rc4 with the missing functions.
If the switch works, but nothing happens the light url changed and there may be come things I can try to see if it's just a number off.

[2020-03-19 17:49] iRayanKhan commented on #75
Here the road map with this plugin

- Light Controller
- Fix for ECONNRESET
- Obstruction Detection

I can make a beta and publish it to NPM on Sunday to change the value via config, but it won't be based off the light_controller branch (yet).

[2020-03-19 17:55] TheEngineerGuy commented on #75
Sounds good @iRayanKhan .

[2020-03-19 18:02] DMBlakeley commented on #75
Sounds good. I went for days without an ECONNRESET and then had 1 yesterday and 1 today. Just really strange.

[2020-03-19 18:30] iRayanKhan commented on #75
@DMBlakeley If you make another PR with the changes you did I can merge it in so people can have a proper hardcoded update value.

[2020-03-19 20:52] fatal1010 commented on #75
@iRayanKhan I don't know if it's just as simple as changing the setValue to updateValue ... look at the links I pasted above and code in the comments.

I know you said you were having sporadic notifications as well, did this resolve it?

[2020-03-19 20:56] iRayanKhan commented on #75
I was using a beta obstruction detection branch and changing the value appeared to work. This issue may re-open once obstruction detection gets added since idk how much polling will be done to see if it's obstructed. I just published the release to NPM if anyone would like to also leave their feedback. I appreciate the links you sent @kbardai. This should work if not then I guess manual config set

[2020-03-19 20:58] DMBlakeley commented on #75
The change to updateValue did not seem to increase the occurrence of the ECONNRESET and also did not impact operation. From reviewing the first article in particular the use of "update" over "set" was the recommended process.

[2020-03-19 22:07] ahnyerkeester commented on #78
I'm not able to get rc4. Is that the name you used?

[2020-03-19 22:23] ahnyerkeester commented on #78
Figured it out. `1.3.2` :)

Now I get this:
[code]

[2020-03-20 01:04] iRayanKhan commented on #78
Finally getting somewhere. So yes the api did change the url. I need some personal info if you don't mind. My email is ```rayankhan04 @ iCloud.com```. It will speed up the process significantly.

[2020-03-20 01:14] ahnyerkeester commented on #78
Just emailed you.

[2020-03-21 07:43] iRayanKhan commented on #75
Is this issue resolved for y'all? I get notifications all the time now.

[2020-03-21 12:50] DMBlakeley commented on #75
I started getting a different ECONNRESET error as below. Believe that this is due to using "v5.1" versus "v5" in request for accounts data. I changed the line in api.js which triggered this error and so far no errors. If remains quiet will submit pull request to make change.

`[3/20/2020, 3:15:12 PM] [Garage Door] FetchError: request to https://api.myqdevice.com/api/v5/accounts/4a7c96bd-0609-4770-

[2020-03-21 22:15] TheEngineerGuy commented on #75
Hey guys, for push notifications, did we try to reverse engineer the communication to:
connect.myqdevice.com &
connect1.myqdevice.com

[2020-03-22 00:16] iRayanKhan commented on #75
Nice find @TheEngineerGuy. If someone wants to wire shark those domains and see what can be used it would help a lot.

[2020-03-22 00:18] iRayanKhan commented on #87
After doing some more research no camera feed gets it's own deviceID, and even if it did we would need an rtsp url to access the stream. And if you do obtain an RTSP url from the likes of Wireshark or guessing, the camera-ffmpeg plugin is the way to go.

[2020-03-22 00:18] #87 closed, assigned to iRayanKhan

[2020-03-22 04:27] TheEngineerGuy commented on #75
My Problem is that I use a Fortinet, and it processes these packets via NPU, so the CPU never sees them to capture. I have tried disabling NPU, and then trying to capture, and it gives me like 10% of them. Which don't make any sense to me.

I wonder if anyone here has a router than can do TCPdump but doesn't have an NPU.

[2020-03-22 19:47] iRayanKhan commented on #75
Just published the new PR to NPM.

[2020-03-23 20:27] twentyNoise commented on #75
I’m still not receiving all notifications. But MyQ is still consistently sending through that App.

I also recently updated to most recent Node and NPM.

I received a Door Open just now but no close notification.

Homebridge log shows closed to open and then open to close state.

[2020-03-23 20:39] TheEngineerGuy commented on #75
You must be onto something. I was on Node.js v10 and everything was functioning, updated Node.js to v13 yesterday, and MyQ notifications are still working, but home kit notifications stopped (open and close). Doesn't matter if I open or close via homekit, MyQ App or garage door button.

Since the status correctly updates on homekit Icon, it seems that polling of status still works, but once status

[2020-03-23 21:03] iRayanKhan commented on #75
I saw on Reddit, people who have Native HomeKit garage door openers, also get either ghost notifications, or none at all. So either this is a HomeKit issue, or something that no one has figured out to implement correctly. The strange thing is, notifications worked great before.
Edit:
Maybe there are new open/close states? They used to be different, then changed to what we have now.

[2020-03-23 21:07] DMBlakeley commented on #75
I am on node.js v12.16.1 and npm v6.14.3 and am getting notifications for both opening and closing.

Also started getting a range of errors this afternoon seeming to indicate issues with communication with the server as I am getting error 503 - service unavailable. With much increased load on the internet I guess I am not surprised with getting some communication errors.

[2020-03-23 21:07] TheEngineerGuy commented on #75
Hmm... But if there were new states, then the Icon wouldn't change, would it? Because I see the status reflect correctly on the icon, even when I used physical button to open and close the garage door.

[2020-03-23 21:09] TheEngineerGuy commented on #75
Hmm... Is there a safe way to downgrade Node.js version? I have never had to do that. I would like to see how it works with v12.

[2020-03-23 21:20] DMBlakeley commented on #75
Here is what I found:

- when changing garage door via Home app the icon state changes with the door position and I get notifications.
- when I change the garage door via the button the icon state change is delayed (remember 30 second polling) but does catch up and I get notifications.
- so I changed polling to 15 seconds for curiosity and icon state change delay is reduced but I don’t get notific

[2020-03-23 21:22] TheEngineerGuy commented on #75
Ok, good find. I didn't tweak the poling rate, mine is default, which I assume we set to 30 secs, right?

[2020-03-23 21:25] DMBlakeley commented on #75
Yes, the PR I submitted a couple days ago changed the default to *30.

[2020-03-23 21:27] iRayanKhan commented on #75
Are you using ipv6 when you get your 503 error?
Just curious as I had some issues on an ipv6 server getting 503 on sites

[2020-03-23 21:27] TheEngineerGuy commented on #75
Ok, I updated my NPM version to reflect yours, from 6.13.3 to 6.14.3 via "sudo npm install -g npm@latest"

now when I run "npm list -g --depth 0"
I get "/usr/lib
└── npm@6.14.3"

none of my npm packages are showing up. WTF!!!

[2020-03-23 21:28] iRayanKhan commented on #75
Try the path
```/usr/lib/node_modules```

[2020-03-23 21:29] TheEngineerGuy commented on #75
Shows me only NPM there!!

"$ls /usr/lib/node_modules
npm"

[2020-03-23 21:30] iRayanKhan commented on #75
does
```ls -a```
return anything?
and it's an L not an I, (just saying incase ppl don't know)

[2020-03-23 21:31] TheEngineerGuy commented on #75
Just adds the . and .. files
ls -a /usr/lib/node_modules
.  ..  npm

[2020-03-23 21:32] TheEngineerGuy commented on #75
Funny enough, my homebridge and other homebridge plugins are working.

[2020-03-23 21:32] iRayanKhan commented on #75
Are you using linux?
What if you tried the find command (I think it's Whereis or find?)

[2020-03-23 21:33] iRayanKhan commented on #75
Also if you have discord, the homebridge server has a spot for chamberlain if it'd be easier to discuss there, or we could keep it here since all prior info is here.

[2020-03-23 21:33] TheEngineerGuy commented on #75
Using rpi buster, so debian.

[2020-03-23 21:34] iRayanKhan commented on #75
I use raspian. Does sudo make a difference by chance? I'm just throwing any suggestions I can
```sudo ls -a```
or go into super user into the node_modules directory.

[2020-03-23 21:36] TheEngineerGuy commented on #75
I can try that. Running sudo find -L / -name 'homebridge-chamberlain' right now.

[2020-03-23 21:40] TheEngineerGuy commented on #75
Found them, they are sitting at: "/usr/local/lib/node_modules/". Did new version change the directory?

EDIT: Should I move them to the other directory?
EDIT 2: Looks like my NPM Prefix has magically changed from /usr/local to /usr. So now, all my global module installations are going to /usr/. What could change that?

[2020-03-23 21:51] TheEngineerGuy commented on #75
@DMBlakeley when you run "npm prefix -g", what do you get?

Edit: And what do you get when you run "npm list -g --depth 0"

[2020-03-23 21:51] xDiavelS commented on #75
I had this same thing happen to me when I upgraded node. Now I have some
plugins in "usr/loc/lib/node_modules" and some in "usr/lib/node_modules".
I've been trying to figure out the best way to fix this up for a while now.
I have deleted some of the plugins from  "usr/lib/node_modules" as when I
now install using sudo npm i -g homebridge-......, it installs in
"usr/loc/lib/node_modules".

On Tue,

[2020-03-23 21:53] TheEngineerGuy commented on #75
I wonder if notifications for me are failing due to truncated NPM modules (after my node.js update lastnight) which were installed global, but are no longer in new global prefix.

[2020-03-23 22:04] iRayanKhan commented on #75
I just upgraded to a HomeKit router, so my garages need to have the Wi-Fi changed. At the moment I can't test anything.

My theory may be, with the new npm upgrade, does something have to change with the package.json?

Just to see if we can pin point a source it would be nice if everyone provided the following.

HomeBridge Version, Chamberlain Plugin Version, Node Version, NPM version, and OS.

[2020-03-23 22:06] TheEngineerGuy commented on #75
Will do @iRayanKhan and I will do some more TShoot on my end to see if I can figure this out.

[2020-03-23 22:17] DMBlakeley commented on #75
Here is what I get:

`Blakeleys-Mac-Mini:~ Blakeleys$ npm prefix -g
/usr/local
Blakeleys-Mac-Mini:~ Blakeleys$ npm list -g --depth 0
/usr/local/lib
├──  error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/Automator/package.json
├── homebridge@0.4.53
├── homebridge-camera-ffmpeg@0.1.13
├── homebridge-chamberlain@1.6.0
├── homebridge-config-ui-x@4.13.0
├── homebridge-nest@4.4

[2020-03-23 22:20] TheEngineerGuy commented on #75
Bingo!!! I think my prefix change when I updated node.js last night definitely screwed me over. Does anyone know how to correct the npm prefix?

EDIT: Trying "npm config set prefix /usr/local" to see if it fixes my woes.

[2020-03-23 22:31] twentyNoise commented on #75
[code]

FYI my node_modules directory has always been in this location - for the past few years over multiple versions of npm and node.

[2020-03-24 00:22] TheEngineerGuy commented on #75
HomeBridge Version: 0.4.53
Chamberlain Plugin Version: 1.6.0
Node Version: v13.11.0
NPM version: 6.13.7
OS: Raspbian GNU/Linux 10 (buster)

Ok. I fixed the prefix issue, by reinstalling node+npm all modules, but that have me no luck. However, when I reset my homebridge persist and accessories folders, I get the notification for OPEN once in a while.

As you can see from the output below, I have no

[2020-03-24 00:45] twentyNoise commented on #75
I found this: [https://community.home-assistant.io/t/homekit-notifications-ios-13-issue/154649](url)

So I tried enabling Notifications in 10.14 on my Mac Mini (which is running Homebridge). I just tested the door and I didn't receive ANY on my Phone (iOS 13) but received both Open and Close notifications in Mojave.

I am positive I was having this issue back in iOS 12 as well so while the link ab

[2020-03-24 05:24] TheEngineerGuy commented on #75
What did Apple change to make it not work anymore? I know that home app on Mojave is not getting updates anymore. They must have changed something in new apps.

@twentyNoise do you have other devices notifying via homebridge to Catalina and iOS? I am wondering if this is a homebridge push notifications issue, or plugin notification issue.

[2020-03-24 05:40] twentyNoise commented on #75
@TheEngineerGuy Good point, I do not. I just setup a notification for two different devices from two different Homebridge plugins. We’ll see.

[2020-03-24 05:46] TheEngineerGuy commented on #75
So I found something.

I often use discovery app to sniff MDNS devices. I didn’t use it since yesterday, and now I see that homebridge is no longer visible under _hap._tcp. I think this is certainly homebridge related.

To my knowledge, all HomeKit devices must be listed under this sub domain for notifications to work correctly.

[2020-03-24 05:50] twentyNoise commented on #75
@TheEngineerGuy mine are all still listed under _hap._tcp.

[2020-03-24 05:52] TheEngineerGuy commented on #75
So your homebridge is in there? Hmmm.... I wonder why mine is not in there. I recall that it used to be in there.

[2020-03-24 17:23] iRayanKhan commented on #75
Maybe it's not in there because of a Bonjour issue?
I don't know if it makes a difference, but I just got a HomeKit router so I'd assume Bonjour traffic isn't denied. In the Home App I set the restriction to none for HomeBridge.

[2020-03-24 17:27] TheEngineerGuy commented on #75
My Bonjour is routing fine. I have multicast forwarding enabled between VLANs, which is what Bonjour runs on (224.0.0.251 multicast group).

To take Multicast forwarding out of the equation, I connected directly yo RPi VLAN, I still don't see Homebridge in _hap._tcp. So, I will reinstall Homebridge again today, to see if that fixes it.

[2020-03-24 17:28] twentyNoise commented on #75
Quick Update

homebridge-hue plugin is currently 100% with Notifications for a Motion Sensor in iOS 13.

homebridge-node-alarm-dot-com is about as poor as the Chamberlain plugin regarding notifications. Last night I received an 'Arm' notification but NO disarm this morning. The Alarm.com app gave me its own native notifications. I just tried arming / disarming again and I only received an Arm noti

[2020-03-24 17:35] DMBlakeley commented on #75
iOS 13.4, iPadOS 13.4, TvOS 13.4 and MacOS 10.15.4 just went live. May want to update before digging in too much.

[2020-03-24 18:04] iRayanKhan commented on #75
I will update my Mac shortly. I don't know if this may be relevant, but my HOmePod's automatically updated to iOS 13.4 so I don't know if Home Hubs will be an issue. I will also update my Apple TV's too.

[2020-03-24 18:11] iRayanKhan commented on #78
@ahnyerkeester did the new RC work by chance?

[2020-03-24 18:14] ahnyerkeester commented on #78
@iRayanKhan, is there a newer one than 1.3.2? That's the last one I tested.

[2020-03-24 18:15] iRayanKhan commented on #78
Yes, it is @1.4.5

[2020-03-24 18:23] ahnyerkeester commented on #78
Didn't work and here's the error:
[code]

[2020-03-24 20:26] iRayanKhan commented on #75
I asked Erik of the homebridge-hue plugin, and he said this:
[code]

[2020-03-24 20:57] twentyNoise commented on #75
I was going to ask Erik myself, hah.

If I still receive the notifications fine in Mojave then one would assume my HomeHub / AppleTV is functioning properly and communicating with iCloud correctly.

[2020-03-24 21:32] seldridge1 commented on #75
FWIW, I broke down and bought a MyQ Home Bridge about a week ago - have not had any notification issues since.

[2020-03-24 21:39] TheEngineerGuy commented on #75
I could have given you mine. That hub is crap over VLANs, I have to source NAT my home network IP addresses for multicast communications, to make it work.

[2020-03-24 22:41] twentyNoise commented on #75
@TheEngineerGuy did you get the MyQ Home Bridge working then? Did you have any notification issues?

Still 100% notifications from homebridge-hue in iOS 13. Mojave also 100% from Chamberlain plugin.

if @seldridge1 isn't having any notification issues any longer, homebridge-hue seems fine, chamberlain has issues as does homebridge-node-alarm-dot-com etc. I'm leaning towards a plugin issue somehow

[2020-03-24 23:08] TheEngineerGuy commented on #75
This is only true if devices are not connected to the homenetwork.

For devices connected to the homenetwork, it is a unicast communication sent by homebridge directly to the device, as shown in the TCPDump paste in my previous note.

[2020-03-24 23:10] TheEngineerGuy commented on #75
That thing is a POS, works sometimes, but then goes into "not responding" state. Sitting in my basement in its brand new box.

[2020-03-24 23:15] twentyNoise commented on #75
Ah that's right - I remember reading it somewhere: when you're on your home network, HomeKit communications bypass the HomeHub and are sent directly between devices.

[2020-03-24 23:23] TheEngineerGuy commented on #75
That is correct. Via MDNS queries, homebridge retains a database of all devices locally subscribed to Multicast group 224.0.0.251. When a notification needs to go out, homebridge sends it as a TCP unicast to all devices in its Database.

[2020-03-25 02:50] iRayanKhan commented on #75
Lol, isn't it like $70? It was when I last checked.

@iRayanKhan should we assume that Erik is saying that he 'does not' have any issues with notifications? I'm guessing the sensors he's talking about are at least partially from Homebridge.

Yeah, seems safe to assume that his plugin doesn't;t have notification issues.

[2020-03-25 03:44] TheEngineerGuy commented on #75
Hmm... So what are you thinking @iRayanKhan ? Is his implementation of notifications any different than yours? Like the method or function calls etc.

[2020-03-25 16:48] iRayanKhan commented on #75
The main point he made was to use ```set.Value()```, but I will dive further into his implementation.
The API version also has changed, this plugin seems to be fine with the new change.

[2020-03-25 17:54] TheEngineerGuy commented on #75
Thanks @iRayanKhan looking forward to it my friend.

[2020-03-25 18:36] DMBlakeley commented on #75
Just a piece of info, I am getting garage open notifications on my iPhone but not door close. The Key app is providing both open and close notifications.

[2020-03-25 18:38] iRayanKhan commented on #75
At least 1 works lol.
I have to wait for my parents to move their cars out the garages so I can re-connect them to Wi-Fi. But with the whole virus stuff, they don't want to move their cars, even to the driveway.

Seems like we'er getting closer, I'm going to see what I can do from the hue plugin.

Stay safe everyone.

[2020-03-25 19:08] twentyNoise commented on #75
FYI, hue plugin still getting 100% notifications with a motion sensor. Alarm Dot Com plugin still about the same as this plugin. Whatever you find will definitely be valuable for others as well.

[2020-04-01 20:50] TheEngineerGuy commented on #75
Hey @iRayanKhan any news my friend?

[2020-04-01 21:31] iRayanKhan commented on #75
Not at the moment. I may integrate an API into the plugin as a last last resort that can sniff notifications, and use that to trigger notifications. But Chamberlain just deprecated v4.x and V5.0 in favour for V5.1 so maybe some changes soon?

[2020-04-01 21:33] TheEngineerGuy commented on #75
Ok, that makes sense. Do we know what the changelog for v5.1 is?

[2020-04-01 21:35] iRayanKhan commented on #75
No clue, since this is a hacky api. Chamberlain provides nothing officially.

[2020-04-01 21:37] TheEngineerGuy commented on #75
Well that's a bummer. So, how do you figure it out?

[2020-04-01 21:40] iRayanKhan commented on #75
Whenever the plugin stops working, you just bump up the api version. As for user-agent, if someone finds it I accept their PR, or do it my self.

[2020-04-01 21:57] TheEngineerGuy commented on #75
Did you get a chance to look at:
https://www.npmjs.com/package/iobroker.myq and
https://www.npmjs.com/package/node-myq

They were updated quite recently

[2020-04-02 21:18] wamota opened #91 "MyQ Garage Camera"
My MyQ garage door opener came with a built-in camera that connects to the garage door hub. Is there a way to add the camera to Homebridge together with the garage door opener so I can monitor the garage door on the camera when it opens and closes?

The MyQ Bridge adds the camera to Homekit but they charge a monthly fee to have it detect and report motion. Is there a way to add it to HomeBridge to

[2020-04-02 21:20] iRayanKhan commented on #91
Hi there, there was an existing issue #87 about this.
To integrate the camera to HomeBridge/HomeKit you would need the RTSP url. If you get that, the homebridge-camera-ffmpeg plugin would do the trick. Would paying once to add the camera then stop paying work?

I'm glad the plugin works for you,
have a good day and stay safe.

[2020-04-06 20:13] wamota commented on #91
Thanks for the guidance... I'm struggling to find the RTSP url of the camera, I guess Chamberlain doesn't want to make it easy to bypass their $70 "gateway". Any idea how to find the url? running nmap or Wireshark on my wifi seems a bit much just to find an url but I'm thinking on trying to get it that way.

[2020-04-06 20:43] iRayanKhan commented on #91
It appears to be the only way to get it, unless iSpyDataBase has it listed. So if I'm understanding correctly you need the $70 Gateway and pay an additional fee?

[2020-04-15 18:11] ahnyerkeester commented on #78
Just popped in to make sure I didn't miss anything. How are things going? You okay with the pandemic and all?

[2020-04-16 14:56] gamertyke opened #92 "Siri Name of Door Recognition"
Hard to get Siri to recognize the name of the door for some reason. I have a MyQ hub/sensor on one garage door, and an Insigina native Homekit device on the other. The Insignia is pretty unreliable connecting to HomeKit, often going "No response" which is why I bought the MyQ device.

When the Insignia does work, I can say something like "Open garage right door" and it works, however this language

[2020-04-17 06:57] iRayanKhan commented on #92
So personally I name my doors

"Single Garage" and "Double Garage".

Siri and this plugin aren't tied, as that is a HomeKit issue and is a common bug.

I hope these names or suggestions help, but yeah sorry this plugin or any plugin really integrate with Siri as it is a HomeKit issue.

[2020-04-17 06:57] #92 closed, assigned to iRayanKhan

[2020-04-17 06:58] iRayanKhan commented on #91
Closing as this can't be integrated with this plugin and has other potential workarounds.

[2020-04-17 06:58] #91 closed, assigned to iRayanKhan

[2020-04-17 06:59] iRayanKhan commented on #78
Hi sorry to ghost, Im doing well thanks, schools busy and all. Are you doing good as well?

So I can't debug this issue, and neither can my JS buddy. I am escalating this issue to a veteran dev as I don't get why this isn't working. I am so sorry for the delay.

[2020-04-17 17:11] ahnyerkeester commented on #78
No problems, this is a voluntary project, it just hit me that I hadn't heard from you for a while and hoped the virus hadn't gotten to you. Even with the stay-at-home I know we're busy. We're doing fine but I sure miss eating out!

[2020-04-22 08:08] maelstromchanneled opened #93 "500 error during first attempt"
# Explain the issue occuring:
Just added homebridge-chamberlain to QNAP homebridge
Receiving 500 Error at steady tick

# Expected Result
Receive deviceID information so that I can finish config.json setup

# Info
iOS Version: N/A
Plugin Version: 1.6.0
HomeBridge Version: marcoraddatz/homebridge:latest
Node/Npm Version: unknown

# Log Output:

[2020-04-24 02:54] iRayanKhan commented on #93
Hi there,
Sorry to see you are facing issues.

Are you using the latest version if the plugin, and are your details correct in the config?

Thanks,

Rayan.

[2020-04-26 21:36] maelstromchanneled commented on #93
I was having a lot of issues with homebridge setup on QNAP at the time.  I tried several different combinations and also the myq2 plugin.  Eventually I got things working with the myq2 plug-in -- most of my issues were on the QNAP network config side.  So, my problems in general are resolved, but I can't say anymore whether chamberlain plugin would have issues.  Will let you know if I pick back up

[2020-04-26 21:36] #93 closed, assigned to iRayanKhan

[2020-04-27 16:56] TheEngineerGuy commented on #75
Not sure if you saw my previous message @iRayanKhan , but here is another item I wished to run by here.

Is there a reason why, when door state changes, we are changing 'doorstate' and 'desireddoorstate'?

I wonder if this throws homekit to think that, this new state was a desired or requested state, so it doesn't need to notify on it.

Can we update to only change 'doorstate' and see if that help

[2020-04-27 18:01] DMBlakeley commented on #75
What I am finding when trying to understand the inner workings of the Homebridge plugins is to look at the [HomeKit Characteristic Types](https://developer.apple.com/documentation/homekit/hmcharacteristic/characteristic_types) to see how the HomeKit accessory characteristic is defined.

For a door / garage door there is both HMCharacteristicTypeCurrentDoorState as well as HMCharacteristicTypeTarge

[2020-04-27 18:29] TheEngineerGuy commented on #75
Correct, both are legitimate characteristics. One seems to notify and update switch state, but the other seems to request and trigger a change if 'desired state' does not match the 'current state'.

EDIT: And I am just thinking that if we send both, it may cause homekit to not send out a notification, as the requested state matches the change state.

[2020-04-28 16:01] acourter27 opened #94 "SyntaxError: Unexpected token < in JSON at position 0"
# Explain the issue occuring:

I've started receiving this error message and I can't get the garage door to respond. I've also noticed that when I connect to the MyQ from on wifi it fails, but if I connect via mobile it works fine. I saw this error on the lighting feature request, but I don't see that it was resolved yet.

It _seems_ like it's a MyQ issue rather than a plugin issue, but I wanted t

[2020-04-28 21:01] TheEngineerGuy opened #95 "Debug Level Logging"
Hi Guys,
I was wondering if there is a way for me to enable Debug level logging from our plugin here. When I run Homebridge -D, I can see debug logs for all other plugins, but this one.

Looking for your thoughts and help.

[2020-04-28 21:16] TheEngineerGuy opened #96 "Additional Door states"
Hi guys,
Currently this plugin only seems to provide Open, closed, opening and closing states. However, I saw an instance today where garage door got stuck after opening about 90%, so MyQ app showed door as stuck open, but our plugin still deemed it as closed to the homekit.

So, could we look at adding some more door states to our plugin?

[2020-04-29 07:29] iRayanKhan commented on #96
Currently there is an obstruction detection branch, it’s not fully implemented yet, but is being worked on.

[2020-04-29 07:29] iRayanKhan commented on #95
Currently the plugin kinda does self debug as any API errors or fails and api calls are all logged to console. So the -D flag essentially isn’t necessary

[2020-04-29 07:33] iRayanKhan commented on #75
I don’t know how correlated this is, but these are my findings.

I recently got some eero’s for HomeKit secure router, and after re-adding my devices to the MyQ app, I get consistent notifications now.

I am considering learning TypeScript and rewriting this plugin, but this is not confirmed yet.

Also I looked at those node implementations and they seem viable. Just waiting for school to ease up

[2020-04-29 14:35] TheEngineerGuy commented on #95
OK, I was more looking at understanding when notifications are sent out etc, because I don't those messages in logs today.

[2020-04-29 14:36] TheEngineerGuy commented on #96
Got it. In the mean time, if the door is partially open can we just mark it as open?

[2020-04-29 14:38] TheEngineerGuy commented on #75
And @iRayanKhan Do take a look at the iobroker.myq link I posted above. They have implemented every single MyQ state in it. The most comprehensive MyQ implementation I have seen till date, but it is for IOBroker and not homebridge.

[2020-04-30 00:01] pponce commented on #77
@iRayanKhan i have two Lockitron bolts and would love to be able to expose them to HomeKit via MyQ. What information would you need?

[2020-04-30 00:02] iRayanKhan commented on #77
Hi @pponce,
Does the plugin return deviceID’s for your locks?

[2020-04-30 01:23] pponce commented on #77
I’ll have a look. At some point i switched to using homebridge/myq2 I think when all the api changes occurred.
I’ll switch back to chamberlain and see. I can also run some api queries and let you know what it returns.

[2020-04-30 01:40] pponce commented on #77
when i run
http://api.myqdevice.com/api/v5.1/Accounts/{{AccountID}}/Devices
I get a count of 3 devices returned. My two hubs and my single garage door.
I don't see my two locks in the returned list of devices.
I do see two "physical devices" associated with each of my hubs though.
but my guess is that one of those physical devices is for any attached garage doors and the other is for the built in

[2020-05-04 22:33] acourter27 commented on #94
This appeared to resolve itself today and does seem to be an issue on the MyQ side, not this plugin. Closing.

[2020-05-05 03:14] iRayanKhan commented on #75
I am considering re-writing this plugin from scratch to be based off that broker, but unsure at the moment. School ends this month so I should get some time to do more work on this plugin, as school is the priority at the moment.

I hope everyone is staying safe.

[2020-05-05 08:07] iRayanKhan commented on #75
I sent some emails out to some people and right after I sent the email I found some answers.

This [plugin](https://github.com/Haba1234/homebridge-iobroker)  exposes switches for ioBrokers. That means you will have to setup the broker then the plugin which isn't ideal. So I may have to combine several repos to achieve a full integration. This may or may not work, but hey it's worth a shot. This wi

[2020-05-05 08:35] iRayanKhan commented on #96
Hi there,
Do you mind trying the newStates branch? Not sure if I integrated the states in properly, but worth a shot.

[2020-05-05 15:05] TheEngineerGuy commented on #75
Hi @iRayanKhan I was thinking that we could look at its source code and see how it queries the myq servers, handles the timers, handles the states etc. Not suggesting we should use it, just learn from it and implement it here. The logic that it has is quite different from our implementation. It uses a different URL as well, myqexternal.myqdevice.com.

[2020-05-05 15:08] TheEngineerGuy commented on #96
How do I target installation of new states branch? Is it under Beta?

[2020-05-05 18:14] coneslayer commented on #94
I'm getting this error too, and it's affecting other projects as well. Looks like a possible MyQ API change. Yay.

https://github.com/arraylabs/pymyq/issues/34
https://github.com/home-assistant/core/issues/35257

[2020-05-05 18:17] acourter27 commented on #94
Yeah today I'm getting a more robust issue.

[5/5/2020, 2:01:14 PM] [Garage Door] Error: invalid response, got HTTP 500: {"code":"500.000","message":"An error occurred while processing the request.","description":"Server Error"}
    at /usr/lib/node_modules/homebridge-chamberlain/src/api.js:27:15
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:9

[2020-05-05 18:21] dseven commented on #94
Something either changed or broke today - it's affecting pymyq too - https://github.com/arraylabs/pymyq/issues/34

[2020-05-06 03:41] ToddWebDev commented on #94
I can validate this as well
```[Homebridge] [5/5/2020, 9:39:22 PM] [Garage Door] SyntaxError: Unexpected token < in JSON at position 0 at JSON.parse (<anonymous>) at /home/hoobs/.hoobs/node_modules/@hoobs/chamberlain/src/api.js:37:21```

[2020-05-06 11:17] coneslayer commented on #94
https://github.com/arraylabs/pymyq/pull/35/files

[2020-05-07 14:58] iRayanKhan commented on #94
What changed? It seems like just the version # for the api. This plugin uses V5.1, not V5.

You can try to manually edit the api.js file, I can't publish to NPM as I am not home currently.

Change the api version from V5.1 for V5.

[2020-05-07 15:04] iRayanKhan commented on #94
Line 18 of
Src/api.js

Change V5.1 to V5

[2020-05-07 15:45] jakebathman commented on #94
For anyone coming here with this issue, make sure your plugin is up-to-date.

First, check the version you have installed versus the latest using `npm -g outdated`:

[code]

Then, if needed, update just this package: `npm -g update homebridge-chamberlain`

[2020-05-07 23:37] mbierman commented on #75
Ah, just saw your reply. Am I understanding correctly that this is purely on the MyQ server side and not an indication of any issue on my LAN?

[2020-05-08 18:31] iRayanKhan commented on #94
Does 1.6.0 resolve the issue?

Edit:

I'm away from home so I can't exactly test my code so I'm relying on as much feedback as possible.

[2020-05-08 19:57] coneslayer commented on #94
1.6.0 is working for me.

[2020-05-09 07:06] iRayanKhan commented on #94
Thank goodness!

[2020-05-09 07:07] iRayanKhan commented on #94
The OP said he was on 1.6.0 so I don't know if it was a server issue or api/plugin.

[2020-05-09 13:35] acourter27 commented on #94
It’s been working for me steadily for a few days. I think the original issue was on the MyQ side, since the app wouldn’t connect over WiFi. I still get a random error here and there but I can see and control the garage door so I think we’re okay.

[2020-05-09 17:06] iRayanKhan commented on #94
Phew, I think it's safe to say we can close this issue.

[2020-05-09 17:06] #94 closed, assigned to iRayanKhan

[2020-05-09 17:08] iRayanKhan commented on #95
I don't think home bridge can tell when notifications are sent out due to a HomeKit limitation and that notifications are server side not plugin side. For this reason I can't really do anything about it unless HomeKit ADK gets updated to support this.

[2020-05-09 17:09] iRayanKhan commented on #96
Look into git clone, after swapping the files, go into the new homebridge-chamberlain folder and run (sudo) npm install.

I can't publish these to NPM currently as I'm not home and don't have node in this environment.

[2020-05-10 00:07] TheEngineerGuy commented on #96
All good @iRayanKhan We can wait a bit.

[2020-05-10 00:29] TheEngineerGuy commented on #95
HI @iRayanKhan , yes and no my friend. Notification related communication works in two ways. 1 which requires Apple HomeKit server intervention, 2 which does not require Apple HomeKit server. I can explain it as below:

[code]

So, in both cases HomeBridge is the one generating the initial event of state change. So, it must maintain logs of which devices it sent the TCP unicast communication to fo

[2020-05-14 01:01] Aidan711 opened #97 "Duplicate Device IDs for Two Garage Doors"
# Explain the issue occuring:

I had both garage doors working for a very long time until they suddenly stopped working. After updating the Chamberlain plugin, each garage door give the same two device IDs (CG0846025217, CG0846025218). I tried to troubleshoot by switching around the device IDs, but that didn't work. I removed Garage Door 2 from my MyQ account and Garage Door 1 worked fine.

HomeBr

[2020-05-14 05:09] conrad-vanl commented on #97
Just tried setting up for the first time, and I'm seeing the same. Two garage doors:

[code]

[2020-05-15 02:57] iRayanKhan commented on #97
Try updating the plugin or uninstalling and reinstalling. Device ID"s with GW are not supported in this plugin as they are not garage doors the CG device ID is the one you are after. Also it's interesting to see your deviceID's be spaced by 1 digit.

[2020-05-15 03:48] Aidan711 commented on #97
The plugin is fully updated. I can try uninstalling and reinstalling tonight and let you know what happens.

[2020-05-15 08:18] Aidan711 commented on #97
I did a clean install of the plugin and it is still giving out the same error message.

[2020-05-15 13:01] conrad-vanl commented on #97
I configured the plugin using the `CG` IDs and added the doors to the Home app. They show up as "not responding" in the app and any time I try to toggle one in the app, I get error printouts in homebridge log, like:

[code]

Happy to do more debugging if you can point me in the right direction!

[code]

[2020-05-16 01:04] Aidan711 commented on #97
Finally solved it! Here's a couple of things I did to fix the issue:
1. Update Homebridge plugin
2. Update Node.js to the latest version (mine was at 8.11 and the current version is 10.20)
3. Uninstall Chamberlain plugin and restart whatever device you're using for Homebridge
4. Reinstall and run with no device IDs
5. Assign the device IDs back into the config and test

If it still does not work,

[2020-05-16 02:39] conrad-vanl commented on #97
Interesting. I run homebridge on a docker container. I can rebuild the container fresh and the error persists, which means at least for me it's not a restart or npm install issue. Appears to use node 12.16.x so don't think it's that either.

I do not use `config-ui-x`.

[code]

@Aidan711 does this plugin still spit out the the `GW` ids?

[2020-05-16 03:11] Aidan711 commented on #97
Oddly enough, I never had any GW IDs when using the plugin. I am using the Chamberlain Group myQ Smart Garage Door Opener Chamberlain MYQ-G0301 system, which might make a difference.